{% liquid
  assign crop = crop | default: settings.product_tiles_aspect_ratio
  assign shape = shape | default: settings.product_tile_media_shape
  assign hover_image = blank
  if settings.product_tiles_second_image_on_hover and  product.media.size > 1
    assign hover_image = product.media[1]
  endif
  if enable_quick_buy
    assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
    assign current_variant = product.selected_or_first_available_variant
    assign featured_media = current_variant.featured_media | default: product.featured_media
  endif 
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  if compare_at_price > price
    assign on_sale = true
  else
    assign on_sale = false
  endif
  assign available = target.available | default: false
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = money_price | append: '+'
  endif

  if odd_even == 'odd'
    assign rotate = 5
  else
    assign rotate = -5
  endif
%}
{% if product and product != empty %}
<div 
  id="product-tile-{{ product.id }}"
  data-product-handle="{{ product.handle }}"
  data-variant-id="{{ current_variant.id }}"
  class="product-tile relative {{ class }} {% if display_on_card %}text-scheme-text card-container{% endif %}" 
  {% if settings.product_tiles_second_image_on_hover and  product.media.size > 1 %}
  x-data="{ hover: false }"  @mouseleave="hover = false" @mouseover="hover = true" @focusin="hover = true" @focusout="hover = false"
    {% endif %}
>
  <div
    {% if enable_quick_buy %}
      x-data="
      ThemeSection_ProductQuickView({
        product: {{ product | json | escape }},
        variant: {{ current_variant | json | escape }},
        featuredMediaID: {{ featured_media.id | json }}
      })"
    {% endif %} 
    >
    <div class="product-tile_cover {% if display_on_card %}bg-scheme-card card {% if products_per_row_mobile == '2' %}p-2.5 lg:p-5{% else %}p-5{% endif %} h-full{% endif %}">
      {% if product.featured_media %}
        <div class="relative product-tile-image {% unless display_on_card %}{% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}{% endunless %}" {% unless request.path contains '/pages/bfcm-2024' %} style="background-color: {{ product.metafields.custom.megamenu_backgroud_color }};" {% endunless %}>
          <!-- <a href="{{product.url}}"> -->
            {% render 'product-tile-media-image',
              media: product.featured_media,
              shape_id: shape_id,
              shape: shape,
              is_card: display_on_card,
              crop: crop,
              hover_image: hover_image,
              container_id: section.id,
              quick_buy: enable_quick_buy,
              product: product,
              index: index
            %}
          <!-- </a> -->
          
          {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
          {% assign is_new = false %}
          {% assign low_stock = false %}
          {% assign back_stock = false %}
          {% for tag in product.tags %}
            {% if tag == 'new' %}
              {% assign is_new = true %}
            {% endif %}
            {% if tag == 'new flavour' %}
              {% assign is_new_flavour = true %}
            {% endif %}
            {% if tag == 'low_stock' %}
              {% assign low_stock = true %}
            {% endif %}
            {% if tag == 'back_stock' %}
              {% assign back_stock = true %}
            {% endif %}
            {% if tag == 'out of stock' %}
              {% assign available = false %}
            {% endif %}
          {% endfor %}

           
          {% if available and request.path contains '/pages/bfcm-2024' %}
            {% if product.metafields.custom.discount_percentage != blank %}
            <div class="product_tag custom_40_badge" style="color: white; background-color: #F26522FF;" product.metafields.custom.discount_percentage>{{ product.metafields.custom.discount_percentage }}</div>
            {% endif %}
          {% endif %}
 {% comment %}       
          {% if available and is_new and template == 'collection' %}
            <div class="product_tag" style="color: {{ settings.badge_text }}; background-color: {{ settings.badge_back }};"><ly-as-1374482>New!</ly-as-1374482></div>
          {% endif %}
          {% if available and is_new_flavour and template == 'collection' %}
            <div class="product_tag" style="color: {{ settings.badge_text }}; background-color: {{ settings.badge_back }};"><ly-as-1334526>New Flavour</ly-as-1334526></div>
          {% endif %}
          {% if available and low_stock and template == 'collection' %}
            <div class="product_tag" style="color: #B85353; background-color: #FFD3AE;"><ly-as-1334527>Low Stock</ly-as-1334527></div>
          {% endif %}
          {% if available and back_stock and template == 'collection' %}
            <div class="product_tag" style="color: #fff; background-color: #26D797;"><ly-as-1334528>Back in Stock</ly-as-1334528></div>
          {% endif %}
          {% if available == false and template == 'collection' %}
            <div class="product_tag" style="color: #fff; background-color: #ff000080;"><ly-as-1334529>Sold Out</ly-as-1334529></div>
          {% endif %}
  {% endcomment %}
          {% unless request.path contains '/pages/bfcm-2024' %}
          <div class="p-2.5 lg:p-5 collection_hover_card table-small-hide text-center hover_card_{{ product.id }}"></div>
          {% endunless %}
        </div>
      {% endif %}
    </div>
    <div class="product-tile-info mt-5 break-words">
      <h3 class="font-body text-base product_title">
        <a href="{{product.url}}">
          {{ product.title 
            | remove: " - All-in-One Shake"
            | remove: ' - Shake tout-en-un' 
            | remove: 'Green Superfood Juice - ' 
            | remove: 'Jus de superaliments verts - '
            | remove: ' - Green Apple'
            | remove: ' - Pomme verte'
            | remove: ' - Boisson tout-en-un'
          }}
        </a>
      </h3> 
     {% if product.metafields.custom.review_product != blank %}
      {% render 'junip-product-summary', product: all_products[product.metafields.custom.review_product] %}
      {% else %}
      {% render 'junip-product-summary', product: product %}
      {% endif %}
      
      {% comment %}
      {% render 'price',
        product: product,
        price_class: 'mt-1.5',
        compare_at_price: compare_at_price,
        price: price,
        money_price: money_price,
        on_sale: on_sale
      %}
  {% endcomment %}
      <div class="product-price" id="product-price-{{ product.id }}" data-base-price="{{ current_variant.price | money }}">
        <span>{{ current_variant.price | money }}</span>
      </div>
   {% if enable_quick_buy %}   
      {% if product.variants.size > 1 %}
        <div class="product-sizes mt-2">
          <select class="size-selector" data-product-id="{{ product.id }}" style="width: 100%;">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option value="{{ variant.id }}" data-price="{{ variant.price }}">{{ variant.title }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      {% endif %}
      
            <!-- Quick Buy Button with data attributes -->
      <button id="quick-buy-btn-{{ product.id }}" class="btn quick-buy-btn" data-product-id="{{ product.id }}" data-variant-id="{{ current_variant.id }}">
        Add to Cart
      </button>
 {% endif %}
      
    </div>
    <div x-ref="modalContent">
      <template data-should-teleport="#quickview-container">
        <div {% if enable_quick_buy %}
          x-data="
          ThemeSection_ProductQuickBuy({
            product: {{ product | json | escape }},
            variant: {{ current_variant | json | escape }},
            featuredMediaID: {{ featured_media.id | json }}
          })"
        {% endif %} 
        id="quickview-content--{{product.id}}" class="product-quickview-content">
          <div class="info">
            {% if settings.product_tiles_show_vendor %}
              <p class="mt-1">{{ product.vendor }}</p>
            {% endif %}
            {% if product.metafields.custom.review_product != blank %}
            {% render 'junip-product-summary', product: all_products[product.metafields.custom.review_product] %}
            {% else %}
            {% render 'junip-product-summary', product: product %}
            {% endif %}
            <h3 class="font-body text-base product_title">
              {% if product.title contains 'All-in-One Shake' %}
                  All-in-One Shake
                {% elsif product.title contains 'Shake tout-en-un' %}
                  Shake tout-en-un
                {% else %} 
                  {{ product.title }}
                {% endif %}
            </h3> 

            <p class="subtitle" >{{product.metafields.custom.collection_sub_text}}</p>

            <div class="purchase">
                <div class="product-block product-block-price  text-lg  text-left">
                  {% render 'product-block-price',
                    product: product,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                </div>
                
                {% if enable_quick_buy %}
                  <div>
                  {% render 'product-tile-quick-buy'
                    section: section,
                    product: product,
                    parent_collection: parent_collection,
                    product_form_id: product_form_id,
                    current_variant: current_variant,
                    is_card: display_on_card
                  %}
                  </div>
                {% endif %}
            </div>
            <div class="bottom justify-center">
              <a class="text-center" href="{{product.url}}"><ly-as-1334534>See details</ly-as-1334534></a>
            </div>
          </div>
          
          <div data-section-type="pdp-usps-bar" class="product-section product-usps product-section-padding background--true pdp-color-scheme-15">
            <svg width="583" height="47" viewBox="0 0 583 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M291.379 10.6961C394.095 27.0552 528.966 21.8055 585 10.6961V47H0V10.6961C55.2874 -0.413231 183.997 -6.4061 291.379 10.6961Z" fill="#FFEDB2"/>
            </svg>              
            <div class="page-width">
              <div class="inner-product-section inner-product-usps">
                
                  <div class="product-usps-col-1 one-third-product">
                    <div class="product-section-box product-usps-box">
                      <div class="product-usps-icon">
                        
                          <figure><img src="//goodprotein.ca/cdn/shop/files/pd-17.png?height=35&amp;v=1699905662" alt="" srcset="//goodprotein.ca/cdn/shop/files/pd-17.png?height=35&amp;v=1699905662&amp;width=37 37w" width="37" height="35" lazy="loading"></figure>
                        
                      </div>
                      <div class="product-usps-content">
                        <h4><ly-as-1334535>16,000+ Verified Reviews</ly-as-1334535></h4>
                        <p><ly-as-1334536>4.81 out of 5 stars average.</ly-as-1334536></p>
                      </div> 
                    </div>
                  </div>
                
                  <div class="product-usps-col-1 one-third-product">
                    <div class="product-section-box product-usps-box">
                      <div class="product-usps-icon">
                        
                          <figure><img src="//goodprotein.ca/cdn/shop/files/pd-18.png?height=35&amp;v=1699905662" alt="" srcset="//goodprotein.ca/cdn/shop/files/pd-18.png?height=35&amp;v=1699905662&amp;width=35 35w" width="35" height="35" lazy="loading"></figure>
                        
                      </div>
                      <div class="product-usps-content">
                        <h4><ly-as-1334537>60-Day Satisfaction Guarantee</ly-as-1334537></h4>
                        <p><ly-as-1334538>If you don’t love it, you don’t pay for it.</ly-as-1334538></p>
                      </div>
                    </div>
                  </div>
                
                  <div class="product-usps-col-1 one-third-product">
                    <div class="product-section-box product-usps-box">
                      <div class="product-usps-icon">
                        
                          <figure><img src="//goodprotein.ca/cdn/shop/files/pd-19.png?height=35&amp;v=1699905662" alt="" srcset="//goodprotein.ca/cdn/shop/files/pd-19.png?height=35&amp;v=1699905662&amp;width=35 35w" width="35" height="35" lazy="loading"></figure>
                        
                      </div>
                      <div class="product-usps-content">
                        <h4><ly-as-1334539>Over 10 Million Shakes Sold</ly-as-1334539></h4>
                        <p><ly-as-1334540>And more than 10 million cravings curbed.</ly-as-1334540></p>
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    {% if settings.show_on_sale_and_sold_out_badges %}
      {% if on_sale %}
        {% liquid
          assign text = 'products.product.on_sale' | t
          assign id = 'on-sale-sticker-' | append: product.id
          assign shape = settings.on_sale_badge_shape
          assign vertical_position = 15
          assign horizontal_position = 90
          if rotate > 0
            assign rotate = -5
          else
            assign rotate = 5
          endif
          if display_on_card
            assign vertical_position = 5
          endif
        %}
        {% render 'static-sticker',
          static_id: 'on-sale',
          shape: shape,
          id: id,
          text: text,
          vertical_position: vertical_position,
          horizontal_position: horizontal_position,
          rotate: rotate,
          width: 100,
          font_size: '1.563rem',
          color: 'bg-scheme-accent text-scheme-accent-overlay'
        %}
      {% endif %}
      {% unless available %}
        {% liquid
          assign text = 'products.product.sold_out' | t
          assign id = 'sold-out-sticker-' | append: product.id
          assign vertical_position = 15
          assign horizontal_position = 10
          if rotate > 0
            assign rotate = -5
          else
            assign rotate = 5
          endif
          if display_on_card
            assign vertical_position = 5
          endif
        %}
        {% render 'static-sticker',
          static_id: 'sold-out',
          id: id,
          text: text,
          vertical_position: vertical_position,
          horizontal_position: horizontal_position,
          rotate: rotate,
          width: 100,
          font_size: '1.563rem',
          color: 'bg-scheme-text text-scheme-text-overlay'
        %}
      {% endunless %}
    {% endif %}
    {% assign metafield_badge = settings.product_tile_metafield_badge %}
    {% if product.metafields.shapes_theme[metafield_badge] != blank %}
      {% liquid
        assign text = product.metafields.shapes_theme[metafield_badge].value
        assign id = 'metafield-sticker-' | append: product.id
        assign shape = settings.metafield_badge_shape
        assign vertical_position = 15
        if display_on_card
          assign vertical_position = 5
        endif
        if on_sale and available
          assign horizontal_position = 10
        else
          assign horizontal_position = 90
        endif 
        if on_sale and sold_out
          if display_on_card
            assign vertical_position = 30
          else
            assign vertical_position = 40
          endif
        endif
        if rotate > 0
          assign rotate = -5
        else
          assign rotate = 5
        endif
      %}
      {% render 'static-sticker',
        static_id: 'metafield-badge',
        id: id,
        text: text,
        vertical_position: vertical_position,
        horizontal_position: horizontal_position,
        rotate: rotate,
        width: 100,
        font_size: '1.563rem',
        color: 'bg-scheme-accent text-scheme-accent-overlay'
      %}
    {% endif %}
  </div>
</div>
{% else %}
<div class="product-tile {{ class }} {% if display_on_card %}text-scheme-text card-container{% endif %}" x-data="{ hover: false }"  @mouseleave="hover = false" @mouseover="hover = true" @focusin="hover = true" @focusout="hover = false">
  <div class="{% if display_on_card %}bg-scheme-card card p-5 h-full{% endif %}">
    <div class="relative {% unless display_on_card %}{% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}{% endunless %}">
      {% render 'media-image-placeholder', shape_id: shape_id, container_id: section.id, index: index, shape: shape, crop: crop, is_card: section.settings.display_on_card %}
    </div>
    <div class="product-tile mt-5 text-center">
      <h3 class="font-body text-base">{{ 'sections.onboarding.product_title' | t }}</h3>
      {% render 'price', price_class: "mt-2" %}
    </div>
  </div>
  {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
</div>
{% endif %}

    <script>

      document.addEventListener("DOMContentLoaded", function() {
  // Listen for changes in all size selectors
  document.querySelectorAll(".size-selector").forEach(function(selector) {
    selector.addEventListener("change", function(event) {
      const selectedVariantId = event.target.value;
      const productId = event.target.getAttribute("data-product-id");

      // Update the quick-buy button with the selected variant ID
      const quickBuyButton = document.querySelector(`#quick-buy-btn-${productId}`);
      if (quickBuyButton) {
        quickBuyButton.setAttribute("data-variant-id", selectedVariantId);
      }

      // Update the product variant id
      const productTile = document.querySelector(`#product-tile-${productId}`);
      if (productTile) {
        productTile.setAttribute("data-variant-id", selectedVariantId);
      }
      
      // Update the price display with the selected variant's price
      const selectedOption = event.target.options[event.target.selectedIndex];
      const variantPrice = selectedOption.getAttribute("data-price");
      const priceContainer = document.querySelector(`#product-price-${productId} span`);
      if (priceContainer) {
        priceContainer.innerHTML = formatPrice(variantPrice);
      }

      window.dispatchEvent(new CustomEvent('abra:render'))      
    });
  });

  // Quick Buy button functionality
  document.querySelectorAll(".quick-buy-btn").forEach(function(button) {
    button.addEventListener("click", function(event) {
      const variantId = event.target.getAttribute("data-variant-id");

      // Example function to handle adding to cart
      addToCart(variantId);
    });
  });

  // Function to handle adding a product variant to the cart
  function addToCart(variantId) {
    fetch('/cart/add.js', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ id: variantId, quantity: 1 })
    })
    .then(response => response.json())
    .then(data => {
      // Optionally, handle success (like updating cart UI)
    //  alert("Product added to cart!");
    })
    .catch(error => {
      console.error("Error adding to cart:", error);
    });
  }

  // Function to format the price as currency (assuming Shopify's default currency format)
  function formatPrice(price) {
    const formattedPrice = (price / 100).toFixed(2); // Adjust for Shopify's cents-based prices
    return `$${formattedPrice}`; // Add currency symbol as needed
  }
});

    </script>            
