<style>
  .four-icon-group .icon-group-container-ss {
    display: flex;
    justify-content: space-between;
  }
  .four-icon-group .icon-group-container-ss .icon-wrapper {
    {% comment %} width: 23%; {% endcomment %}
    flex: 1;
    text-align: center;
    display: flex;
    {% comment %} justify-content: center; {% endcomment %}
    flex-direction: column;
    padding: 1%;
  }
  .four-icon-group .icon-group-container-ss .icon {
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
  }
  .four-icon-group .icon-group-container-ss .icon img {
    height: 40px;
    margin-bottom: 3px;
  }
  .four-icon-group .icon-group-container-ss .icon-text h4 {
    font-size: 12px;
    font-family: "Gelica Bk" !important;
    padding-bottom: 10px;
  }
  .four-icon-group .icon-group-container-ss .icon-text p {
    font-size: 12px;
    {% comment %} font-family: "Gelica Lt" !important; {% endcomment %}
  }
  @media (max-width: 768px) {
    .four-icon-group .icon-group-container-ss .icon img {
      height: 35px;
    }
    .four-icon-group .icon-group-container-ss .icon-text h4 {
      font-size: 10px;
      padding-bottom: 8px;
    }
    .four-icon-group .icon-group-container-ss .icon-text p {
      font-size: 10px;
    }
  }
</style>
<div class="four-icon-group">
  <div class="icon-group-container-ss">
    {% for icon in icons %}
      {% if icon.type == 'icons' %}
        {% if icon.settings.icon != blank %}
          <div class="icon-wrapper">
            <div class="icon">
              <img src="{{ icon.settings.icon | img_url: 'master' }}" alt="{{ icon1_alt }}">
            </div>
            <div class="icon-text">
              <h4>{{ icon.settings.title }}</h4>
              <p>{{ icon.settings.text }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% comment %} <div class="icon-wrapper">
      <div class="icon">
        <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/Calque_1.png?v=1741278205" alt="{{ icon1_alt }}">
      </div>
      <div class="icon-text">
        <h4>Free Shipping</h4>
        <p>Get free shipping on all sample pack orders.</p>
      </div>
    </div>
    <div class="icon-wrapper">
      <div class="icon">
        <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/Calque_1_2.png?v=1741278205" alt="{{ icon2_alt }}">
      </div>
      <div class="icon-text">
        <h4>Over 30 Million Shakes Sold</h4>
        <p>And over 20,000  Verified Reviews.</p>
      </div>
    </div>
    <div class="icon-wrapper">
      <div class="icon">
        <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/Calque_1_1.png?v=1741278205" alt="{{ icon3_alt }}">
      </div>
      <div class="icon-text">
        <h4>Vegan</h4>
        <p>100% plant-based.</p>
      </div>
    </div>
    <div class="icon-wrapper">
      <div class="icon">
        <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/Calque_1_3.png?v=1741278205" alt="{{ icon4_alt }}">
      </div>
      <div class="icon-text">
        <h4>Proudly Canadian</h4>
        <p>Our blends are made right here in Canada.</p>
      </div>
    </div> {% endcomment %}
  </div>
</div>