
{% assign otp_bundle_min = nil %}
{% assign otp_bundle_max = nil %}
{% if product.metafields.bundle.min != blank and product.metafields.bundle.max != blank %}
    {% assign otp_bundle_min = product.metafields.bundle.min %}
    {% assign otp_bundle_max = product.metafields.bundle.max %}
{% endif %}

{% assign sub_bundle_min = nil %}
{% assign sub_bundle_max = nil %}
{% assign sub_bundle_quantities = product.metafields.rtxn.bundle_quantities | split: '|' %}
{% if sub_bundle_quantities.size > 0 %}
    {% assign sub_bundle_min = sub_bundle_quantities[0] %}
    {% assign sub_bundle_max = sub_bundle_quantities[1] %}
{% endif %}

{% assign bundle_min = 0 %}
{% assign bundle_max = 0 %}
{% if sub_bundle_max %}
    {% assign bundle_max = sub_bundle_max | plus: 0 %}
{% elsif otp_bundle_max %}
    {% assign bundle_max = otp_bundle_max | plus: 0 %}
{% endif %}
{% assign bundle_max_index0 = bundle_max | minus: 1 %}

{% unless otp_bundle_max %}
    {% assign otp_bundle_max = bundle_max %}
{% endunless %}

{% if sub_bundle_min %}
    {% assign bundle_min = sub_bundle_min | plus: 0 %}
{% elsif otp_bundle_min %}
    {% assign bundle_min = otp_bundle_min | plus: 0 %}
{% endif %}

{% unless otp_bundle_min %}
    {% assign otp_bundle_min = bundle_min %}
{% endunless %}

{% assign sub_bundle_products_count = 0 %}
{% assign sub_bundle_products = product.metafields.rtxn.bundle_products | split: '|' %}
{% for productSub in collections.all.products %}
    {% assign productSubID = productSub.id | strip %}
    {% if sub_bundle_products contains productSubID %}
        {% assign sub_bundle_products_count = sub_bundle_products_count | plus: 1 %}
    {% endif %}
{% endfor %}

{% assign sub_bundle_variants_count = 0 %}
{% assign sub_bundle_variants = product.metafields.rtxn.bundle_variants | split: '|' %}
{% for productSub in collections.all.products %}
    {% for variantSub in productSub.variants %}
        {% assign variantSubID = variantSub.id | strip %}
        {% if sub_bundle_variants contains variantSubID %}
            {% assign sub_bundle_variants_count = sub_bundle_variants_count | plus: 1 %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="lsg-bundle-block{% if bundleFirst %} lsg-bundle-block-active{% endif %}"
    data-bundle-product="{{ product.id }}"
    data-bundle-index="{{ bundleIndex }}"
    data-otp-bundle-min="{{ otp_bundle_min }}"
    data-otp-bundle-max="{{ otp_bundle_max }}"
    data-sub-bundle-min="{{ sub_bundle_min }}"
    data-sub-bundle-max="{{ sub_bundle_max }}"
    data-product-base-price="{{ product.price }}"
>
    <div class="lsg-bundle-buybox-block">
        <div class="lsg-bundle-product-list">
            {% if sub_bundle_products_count > 0 or sub_bundle_variants_count > 0 %}
                <div data-bundle-min="{{ sub_bundle_min }}" data-bundle-max="{{ sub_bundle_max }}" class="lsg-bundle-product-set-list lsg-bundle-product-sub-list" data-lsg-bundle-product-sub-list>
                    {% if sub_bundle_products_count > 0 %}
                        {% for productSub in collections.all.products %}
                            {% assign productSubID = productSub.id | strip %}
                            {% if sub_bundle_products contains productSubID %}
                                {% render 'lsg-bundle-product-select', product: productSub, min: sub_bundle_min %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if sub_bundle_variants_count > 0 %}
                        {% for productSub in collections.all.products %}
                            {% for variantSub in productSub.variants %}
                                {% assign variantSubID = variantSub.id | strip %}
                                {% if sub_bundle_variants contains variantSubID %}
                                    {% render 'lsg-bundle-variant-select', variant: variantSub, min: sub_bundle_min %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% elsif product.metafields.bundle.products %}
                <div data-bundle-min="{{ otp_bundle_min }}" data-bundle-max="{{ otp_bundle_max }}" class="lsg-bundle-product-set-list lsg-bundle-product-otp-list" data-lsg-bundle-product-sub-list>
                    {% for listProduct in product.metafields.bundle.products.value %}
                        {% render 'lsg-bundle-product-select', product: listProduct, min: otp_bundle_min %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="lsg-bundle-summary-block">
        <div class="lsg-bundle-buybox-product-info">
            <h1 class="lsg-bundle-buybox-product-name">
                {% if product.metafields.buybox.alt_title %}
                    {{ product.metafields.buybox.alt_title }}
                {% else %}
                    {{ product.title }}
                {% endif %}
            </h1>
            <div class="lsg-bundle-buybox-description">{{ product.description }}</div>
        </div>
        {% if bundleIndex > 0 %}
            {% if section.settings.bundle_select_heading %}
                <div class="lsg-bundle-size-select-heading">{{ section.settings.bundle_select_heading }}</div>
            {% endif %}
            <div class="lsg-bundle-size-select">
                {% for bundle in bundles %}
                    {% assign bundleOption = bundle | split: '|:|' %}
                    {% assign bundleButtonIndex = bundleOption[1] | plus: 0 %}
                    <button type="button" class="lsg-bundle-size-select-el{% if bundleButtonIndex == bundleIndex %} lsg-bundle-size-select-el--selected{% endif %}" data-bundle-index="{{ bundleButtonIndex }}">{{ bundleOption[0] }}</button>
                {% endfor %}
            </div>
        {% endif %}
        {% render 'lsg-bundle-selected-products', bundle_max_index0: bundle_max_index0 %}
        {% if sub_bundle_products_count > 0 %}
            {% render 'lsg-bundle-interval-select', product: product, settings: settings, bundleIndex: bundleIndex %}
        {% elsif product.metafields.bundle.products %}
            <div class="lsg-bundle-interval-only-otp">
                <div class="lsg-bundle-internval-only-otp-heading">{{ settings.otp_interval_prefix }}</div>
                <div class="lsg-bundle-interval-price lsg-bundle-interval-otp-price">$0.00</div>
            </div>
        {% endif %}
        {% render 'lsg-bundle-atc', product: product, settings: settings %}
    </div>
    <div class="lsg-bundle-sticky-bar">
        <div class="lsg-bundle-sticky-inner">
            <div class="lsg-bundle-sticky-summary-block">
                {% render 'lsg-bundle-selected-products', bundle_max_index0: bundle_max_index0 %}
            </div>
            <div class="lsg-bundle-sticky-selected-products">
                {% if sub_bundle_products_count > 0 %}
                    {% render 'lsg-bundle-interval-select', product: product, settings: settings, bundleIndex: bundleIndex, isDuplicate: true %}
                {% endif %}
            </div>
            <div class="lsg-bundle-sticky-atc">
                {% render 'lsg-bundle-atc', product: product, settings: settings, isDuplicate: true %}
            </div>
        </div>
    </div>
</div>
