{%- liquid
  assign text = section.settings.text
  assign link = section.settings.link
  assign show_announcement_bar = false
  if section.settings.show_announcement_bar
    if section.settings.home_page_only == false or template.name == 'index'
      assign show_announcement_bar = true
    endif
  endif
-%}

{%- if show_announcement_bar -%}
  <style>
    :root {
      --ab-height: 3rem;
    }

    #MainContent > .shopify-section.banner-section:first-child [data-blocks-container].h-screen {
      height: calc(100vh - var(--ab-height));
    }

    #shopify-section-announcement-bar .slick-next {
      right: 5px;
      align-items: center;
      display: flex;
      justify-content: center;
      z-index: 10000;
    }
    #shopify-section-announcement-bar .slick-prev {
        left: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 10000;
    }
    #shopify-section-announcement-bar .slick-slider {
        margin-bottom: 0px;
    }
    .announce_slider{
      padding: 10px 0;
      display: block;
      max-height: 58px;
    }


    .slick-next:before, .slick-prev:before{
      display: none;
    }
    #shopify-section-announcement-bar .slick-slider .custom_icon{
      width: 30px;
      height: 30px;
    }
    @media (min-width: 990px) {
      .announce_slider{
        padding: 10px 50px;
        max-height: 58px;
      }
      #MainContent > .shopify-section.banner-section:first-child [data-blocks-container].lg\:h-auto {
        height: auto;
      }

      #MainContent > .shopify-section.banner-section:first-child [data-blocks-container].lg\:h-screen {
        height: calc(100vh - var(--ab-height));
      }
    }
    #AnnouncementBar {
      max-height: 39.2px !important;
    }
    #shopify-section-announcement-bar section {
      max-height: 39.2px !important;
    }    
  </style>

  {% assign list = section.blocks | where: 'type', template.name %}
  {% if template.name == 'page' %}
    {% assign metafield_list = page.metafields.custom.announcement_bar %}
  {% elsif template.name == 'product' %}
    {% assign metafield_list = product.metafields.custom.announcement_bar %}
  {% elsif template.name == 'collection' %}
    {% assign metafield_list = collection.metafields.custom.announcement_bar %}
  {% elsif template.name == 'blog' %}
    {% assign metafield_list = blog.metafields.custom.announcement_bar %}
  {% elsif template.name == 'article' %}
    {% assign metafield_list = article.metafields.custom.announcement_bar %}
  {% endif %}

  <section class="relative bg-scheme-background text-scheme-text {% if link != blank %}hover:bg-scheme-accent hover:text-scheme-accent-overlay{% endif %} text-center min-h-12 border-b-section border-border {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %}" data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}" id="AnnouncementBar">
    {% if metafield_list != blank %}
    <div class="slider slider-for">
      {% for block in metafield_list.value %}
        <div class="announce_slider"><h3>{{ block }}</h3></div>
      {% endfor %}
    </div> 
    {% elsif list.size > 0 %}
    <div class="slider slider-for">
      {% for block in list %}
        <a href="{{ block.settings.link }}" class="announce_slider"><h3>{{ block.settings.text }} {% if block.settings.button_label != blank %}- <span class="link">{{block.settings.button_label}}</span>{% endif %}  </h3></a>
      {% endfor %}
    </div> 
    {%- elsif section.settings.display == 'static' -%}
      {%- if link != blank -%}
        <a class="block text-sm text-current  py-1 lg:py-2 px-5 lg:px-0 w-full" href="{{ link }}">
          {{ text | escape }}
        </a>
      {%- else -%}
        <div class="text-sm text-current text-center py-1 lg:py-2" role="complementary">
          <p class="px-5 lg:px-0">{{ text | escape }}</p>
        </div>
      {%- endif -%}
    {%- elsif section.settings.display == 'marquee' -%}
      {%- render 'text-marquee', section: section, class: 'py-1 lg:py-2' %}
      {{ 'section-marquee.aio.min.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
  </section>
  <script>
    document.documentElement.style.setProperty(
      '--ab-height',
      `${document.getElementById('AnnouncementBar').clientHeight}px`
    );
    $(document).ready(function(){
      $('.slider-for').slick({
        autoplay:true,
        infinite: true,
        autoplaySpeed: 8000,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        prevArrow:'<button type="button" class="slick-prev pull-left"><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 1L2 5L6 9" stroke="#000000" stroke-width="2" stroke-linecap="round"></path></svg></button>',
        nextArrow:'<button type="button" class="slick-next pull-right"><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L1 9" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </svg></button>',
      });
    });
  </script>
  {%- if request.design_mode %}
    <script>
      document.addEventListener(
        'shopify:section:select',
        (e) => {
          if (e.detail.sectionId !== 'announcement-bar') return;

          if (document.getElementById('AnnouncementBar')) {
            document.documentElement.style.setProperty(
              '--ab-height',
              `${document.getElementById('AnnouncementBar').clientHeight}px`
            );
          } else {
            document.documentElement.style.setProperty(
              '--ab-height',
              ''
            );
          }
        }
      );
    </script>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "label": "Show announcement bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "radio",
      "id": "display",
      "label": "Display",
      "options": [
        {
          "value": "marquee",
          "label": "Marquee"
        },
        {
          "value": "static",
          "label": "Static"
        },
        {
          "value": "slider",
          "label": "slider"
        }
      ],
      "default": "marquee"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme"
      },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "Use gradient for background"
    },
    {
      "type": "header",
      "content": "Marquee"
    },
    {
      "type": "checkbox",
      "id": "repeat_text",
      "default": true,
      "label": "Repeat text",
      "info": "Automatically repeat text to create an infinity effect."
    },
    {
      "type": "select",
      "id": "shape_between_text",
      "label": "Shape between repeated text",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "diamond",
          "label": "Diamond"
        },
        {
          "value": "triangle",
          "label": "Triangle"
        },
        {
          "value": "star",
          "label": "Star"
        },
        {
          "value": "10_point_star",
          "label": "10 point star"
        },
        {
          "value": "flower",
          "label": "Flower"
        }
      ],
      "default": "10_point_star"
    },
    {
      "type": "checkbox",
      "id": "animate_shape_between_text",
      "default": true,
      "label": "Animate shape between text"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 10,
      "max": 400,
      "step": 10,
      "unit": "sec",
      "label": "Speed",
      "default": 120
    },
    {
      "type": "radio",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "",
          "label": "Right to left"
        },
        {
          "value": "reverse",
          "label": "Left to right"
        }
      ],
      "default": ""
    }
  ],
  "blocks": [
      {
        "type": "index",
        "name": "Homepage announce",
        "settings": [
            {
              "type": "text",
              "id": "text",
              "label": "Announce",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      },
      {
        "type": "collection",
        "name": "Collection announce",
        "settings": [
            {
              "type": "text",
              "id": "text",
              "label": "Announce",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      },
      {
        "type": "product",
        "name": "Product announce",
        "settings": [
            {
              "type": "text",
              "id": "text",
              "label": "Announce",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      },
      {
        "type": "page",
        "name": "Page announce",
        "settings": [
            {
              "type": "text",
              "id": "text",
              "label": "Announce",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      },
      {
        "type": "blog",
        "name": "Blog announce",
        "settings": [
            {
              "type": "text",
              "id": "text",
              "label": "Announce",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      },
      {
        "type": "article",
        "name": "Article announce",
        "settings": [
            {
              "type": "text",
              "id": "text",
              "label": "Announce",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            }
        ]
      }
  ]
}
{% endschema %}
