{% if template.name != 'product' %}
  {% assign product_handle = page.metafields.custom.related_product %}
  {% if product_handle %}
    {% assign product = all_products[product_handle] %}
  {% endif %}
{% endif %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align

  assign table_mt = section.settings.table_mt
  assign table_column_active = section.settings.table_column_active
  assign table_column_active_bg_color = section.settings.table_column_active_bg_color
  assign table_border_thickness = section.settings.table_border_thickness
  assign table_border_color = section.settings.table_border_color
  assign table_radius = section.settings.table_radius

  assign first_heading = section.settings.first_heading
  assign second_heading = section.settings.second_heading
  assign third_heading = section.settings.third_heading

  assign table_heading_size = section.settings.table_heading_size
  assign table_heading_size_mobile = section.settings.table_heading_size_mobile
  assign table_heading_color = section.settings.table_heading_color
  assign table_heading_active_color = section.settings.table_heading_active_color
  assign table_heading_custom = section.settings.table_heading_custom
  assign table_heading_font = section.settings.table_heading_font
  assign table_heading_height = section.settings.table_heading_height
  assign table_heading_align = section.settings.table_heading_align
  assign table_heading_padding_horizontal = section.settings.table_heading_padding_horizontal
  assign table_heading_padding_horizontal_mobile = section.settings.table_heading_padding_horizontal_mobile
  assign table_heading_padding_vertical = section.settings.table_heading_padding_vertical
  assign table_heading_padding_vertical_mobile = section.settings.table_heading_padding_vertical_mobile
  assign table_column_active_radius = section.settings.table_column_active_radius

  assign table_row_padding_horizontal = section.settings.table_row_padding_horizontal
  assign table_row_padding_horizontal_mobile = section.settings.table_row_padding_horizontal_mobile
  assign table_row_padding_vertical = section.settings.table_row_padding_vertical
  assign table_row_padding_vertical_mobile = section.settings.table_row_padding_vertical_mobile

  assign table_row_heading_size = section.settings.table_row_heading_size
  assign table_row_heading_size_mobile = section.settings.table_row_heading_size_mobile
  assign table_row_heading_color = section.settings.table_row_heading_color
  assign table_row_heading_custom = section.settings.table_row_heading_custom
  assign table_row_heading_font = section.settings.table_row_heading_font
  assign table_row_heading_height = section.settings.table_row_heading_height
  assign table_row_heading_align = section.settings.table_row_heading_align

  assign table_icon_yes = section.settings.table_icon_yes
  assign table_icon_no = section.settings.table_icon_no
  assign table_icon_dont_know = section.settings.table_icon_dont_know
  assign table_icon_color = section.settings.table_icon_color
  assign table_icon_active_color = section.settings.table_icon_active_color
  assign table_icon_size = section.settings.table_icon_size
  assign table_icon_size_mobile = section.settings.table_icon_size_mobile
  
-%}

{% capture icon_yes %}
  {% if table_icon_yes != blank %}
    <img src="{{ table_icon_yes | image_url }}" alt={{ table_icon_yes.alt }}>
  {% else %}
    <svg enable-background="new 0 0 32 32" height="32px" id="Слой_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Check_Circle"><path d="M16,0C7.163,0,0,7.163,0,16c0,8.837,7.163,16,16,16c8.836,0,16-7.164,16-16C32,7.163,24.836,0,16,0z M16,30   C8.268,30,2,23.732,2,16C2,8.268,8.268,2,16,2s14,6.268,14,14C30,23.732,23.732,30,16,30z" fill="#121313"/><path d="M23.3,10.393L13.012,20.589l-4.281-4.196c-0.394-0.391-1.034-0.391-1.428,0   c-0.395,0.391-0.395,1.024,0,1.414l4.999,4.899c0.41,0.361,1.023,0.401,1.428,0l10.999-10.899c0.394-0.39,0.394-1.024,0-1.414   C24.334,10.003,23.695,10.003,23.3,10.393z" fill="#121313"/></g><g/><g/><g/><g/><g/><g/></svg>  
  {% endif %}
{% endcapture %}

{% capture icon_no %}
  {% if table_icon_no != blank %}
    <img src="{{ table_icon_no | image_url }}" alt={{ table_icon_no.alt }}>
  {% else %}
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"/></svg>   
  {% endif %}
{% endcapture %}

{% capture icon_dont_know %}
  {% if table_icon_dont_know != blank %}
    <img src="{{ table_icon_dont_know | image_url }}" alt={{ table_icon_dont_know.alt }}>
  {% else %}
    <svg enable-background="new 0 0 128 128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="a"><stop offset=".7275" stop-color="#454140" stop-opacity="0"/><stop offset="1" stop-color="#454140"/></linearGradient><radialGradient id="b" cx="102.7546" cy="71.5085" gradientTransform="matrix(.9926 -.1212 .0595 .4876 -27.6857 51.5767)" gradientUnits="userSpaceOnUse" r="21.4472" xlink:href="#a"/><linearGradient id="c"><stop offset=".6628" stop-color="#454140"/><stop offset="1" stop-color="#454140" stop-opacity="0"/></linearGradient><radialGradient id="d" cx="81.6314" cy="74.6972" gradientTransform="matrix(-.8477 .5304 -.3935 -.6289 197.7423 71.9503)" gradientUnits="userSpaceOnUse" r="6.3382" xlink:href="#c"/><linearGradient id="e"><stop offset=".7247" stop-color="#454140" stop-opacity="0"/><stop offset="1" stop-color="#454140"/></linearGradient><radialGradient id="f" cx="98.0576" cy="92.6274" gradientTransform="matrix(-.1949 -.9808 .8175 -.1624 24.056 163.683)" gradientUnits="userSpaceOnUse" r="27.8397" xlink:href="#e"/><radialGradient id="g" cx="44.0793" cy="92.6274" gradientTransform="matrix(-.0467 -.9989 -.8325 .039 124.0236 97.2528)" gradientUnits="userSpaceOnUse" r="27.8397" xlink:href="#e"/><radialGradient id="h" cx="48.7764" cy="71.5085" gradientTransform="matrix(-.9926 .1212 .0595 .4876 96.2358 36.4517)" gradientUnits="userSpaceOnUse" r="21.4472" xlink:href="#a"/><radialGradient id="i" cx="27.6531" cy="74.6972" gradientTransform="matrix(.9504 .311 .2307 -.7051 -12.7967 120.6958)" gradientUnits="userSpaceOnUse" r="6.3382" xlink:href="#c"/><linearGradient id="j"><stop offset=".5" stop-color="#f9ddbd"/><stop offset="1" stop-color="#ffd29c"/></linearGradient><linearGradient id="k" gradientTransform="matrix(1 0 0 -1 0 128)" gradientUnits="userSpaceOnUse" x1="16.3982" x2="16.3982" xlink:href="#j" y1="54.4886" y2="84.7106"/><linearGradient id="l" gradientTransform="matrix(1 0 0 -1 0 128)" gradientUnits="userSpaceOnUse" x1="111.8223" x2="111.8223" xlink:href="#j" y1="55.1862" y2="84.2215"/><linearGradient id="m" gradientTransform="matrix(1 0 0 -1 0 128)" gradientUnits="userSpaceOnUse" x1="64.065" x2="64.065" y1="45.9855" y2=".6403"><stop offset="0" stop-color="#f78c1f"/><stop offset=".481" stop-color="#f47f12"/><stop offset=".998" stop-color="#ef6c00"/></linearGradient><linearGradient id="n"><stop offset=".6985" stop-color="#454140" stop-opacity="0"/><stop offset="1" stop-color="#454140"/></linearGradient><radialGradient id="o" cx="78.613" cy="107.3131" gradientTransform="matrix(.4206 .9072 .6731 -.3121 -27.946 .2466)" gradientUnits="userSpaceOnUse" r="32.6326" xlink:href="#n"/><radialGradient id="p" cx="46.799" cy="142.8952" gradientTransform="matrix(.9321 .3623 .4296 -1.1051 -63.5457 147.5663)" gradientUnits="userSpaceOnUse" r="8.556"><stop offset=".58" stop-color="#454140"/><stop offset="1" stop-color="#454140" stop-opacity="0"/></radialGradient><radialGradient id="q" cx="139.5345" cy="52.5512" gradientTransform="matrix(-.9787 -.2779 -.1526 .551 206.9068 29.5375)" gradientUnits="userSpaceOnUse" r="26.3029" xlink:href="#n"/><radialGradient id="r" cx="43.3637" cy="135.089" gradientTransform="matrix(.9926 -.1212 -.1482 -1.2143 15.973 184.0656)" gradientUnits="userSpaceOnUse" r="7.8535"><stop offset=".7016" stop-color="#454140" stop-opacity="0"/><stop offset="1" stop-color="#454140"/></radialGradient><radialGradient id="s" cx="42.2832" cy="121.2267" gradientTransform="matrix(-.99 -.1409 -.1319 .9265 97.4551 -77.6931)" gradientUnits="userSpaceOnUse" r="14.7293"><stop offset=".6605" stop-color="#454140" stop-opacity="0"/><stop offset="1" stop-color="#454140"/></radialGradient><radialGradient id="t" cx="38.7888" cy="107.0044" gradientTransform="matrix(.9999 .0153 .0215 -1.4051 -3.2272 192.9658)" gradientUnits="userSpaceOnUse" r="15.4639"><stop offset=".5981" stop-color="#454140" stop-opacity="0"/><stop offset="1" stop-color="#454140"/></radialGradient><path d="m96.78 69.65c-1.38-1.93-.2-4.2 1.95-7.11 3.41-4.61 6.51-14.69 1.36-23.93.02-.06-.99-1.6-.97-1.65l-1.64.12c-.53-.01-18.43 2.14-36.35 4.32-17.91 2.19-35.81 4.41-36.32 4.55 0 0-2.2 2.07-2.17 2.12-2.77 10.2 2.66 19.25 7.08 22.9 2.78 2.3 4.49 4.22 3.6 6.43-.85 2.14-4.09 2.83-4.09 2.83s1.01 1.96 2.96 2.85c1.81.82 3.91.81 5.34.67 0 0 6.54 7.06 21.15 5.27l8.13-1 8.13-.99c14.61-1.78 19.26-10.21 19.26-10.21 1.43-.21 3.46-.7 5.03-1.93 1.68-1.33 2.19-3.47 2.19-3.47s-3.3.1-4.64-1.77z" fill="#312d2d"/><path d="m66.81 88.02-1.05-8.58 25.72-5.23 2.72 2.62s-4.65 8.42-19.26 10.21z" fill="url(#b)"/><path d="m93.69 73.08c-4.61-5.43 3.75-8.69 3.75-8.69s.01 0 .01 0c-1.27 2.05-1.76 3.76-.68 5.26 1.35 1.87 4.66 1.77 4.66 1.77s-3.98 4.51-7.74 1.66z" fill="url(#d)"/><path d="m100.11 38.61c5.01 8.94 2.13 19.13-1.18 23.68-.45.62-2.4 3.07-2.69 4.87 0 0-10.15-11.04-13.61-17.83-.7-1.37-1.36-2.79-1.6-4.31-.19-1.14-.18-2.52.36-3.57.66-1.29 18.14-3.78 18.14-3.78s.58.94.58.94z" fill="url(#f)"/><path d="m22.65 48.06c-2.71 9.88 2.53 19.08 6.84 22.7.59.5 3.07 2.4 3.79 4.08 0 0 7.2-13.15 8.92-20.58.35-1.5.64-3.03.52-4.57-.09-1.15-.44-2.49-1.21-3.38-.95-1.09-1.86-.66-3.23-.49-2.62.32-14.16 1.05-15.05 1.16 0 .01-.58 1.08-.58 1.08z" fill="url(#g)"/><path d="m66.85 88.01-1.05-8.58-26.23 1.11-2.01 3.19s6.54 7.06 21.15 5.27z" fill="url(#h)"/><path d="m37.17 79.98c3.17-6.38-5.73-7.53-5.73-7.53s-.01.01-.01.01c1.73 1.68 2.61 3.23 1.92 4.94-.85 2.14-4.09 2.83-4.09 2.83s4.95 3.41 7.91-.25z" fill="url(#i)"/><path d="m26.28 62.35c-2.18-1.62-4.22-3.51-6.08-5.66-.95-1.05-2.83-2.78-4.69-2.62-.38.03-.87.16-1.34.51-1.27-1.64-4.2-6.04-5.66-9.92-.59-1.23-1.62-1.43-2.33-1.23-1.26.37-2.07 1.97-1.88 3.74.62 5.9 5.24 13.09 6.97 14.78l-.03.02c3.4 4.14 3.72 10.18 3.72 10.24.02.47.37.86.83.94l9.51 1.59c.06.01.11.01.17.01.42 0 .81-.27.94-.68.63-1.85 2.09-6.25 2.11-7.25.06-2.92-1.79-4.2-2.24-4.47z" fill="url(#k)"/><path d="m122.08 43.45c-.71-.22-1.77-.02-2.41 1.31-1.43 3.8-4.36 8.19-5.63 9.83-.47-.35-.96-.47-1.34-.51-1.86-.16-3.74 1.57-4.7 2.63-1.85 2.13-3.89 4.03-6.07 5.64-.45.27-2.3 1.54-2.24 4.48.02 1 1.48 5.41 2.11 7.25.14.41.52.68.94.68.06 0 .11 0 .17-.01l9.51-1.59c.51-.08.87-.54.83-1.06 0-.05-.34-5.39 3.71-10.11l-.03-.02c1.73-1.68 6.2-9.03 6.98-14.77.24-1.75-.55-3.37-1.83-3.75z" fill="url(#l)"/><path d="m115.74 111.06c.14 7.1-5.58 12.94-12.69 12.94-1.4 0-2.72-.29-3.9-.84-.04-.02-.08-.03-.11-.05-.59-.26-1.14-.58-1.65-.97-.71-.53-1.35-1.16-1.89-1.86-1.02-1.31-1.69-2.89-1.91-4.59l-.02.01-.01.01v8.29h-58.98v-8.41l-.04-.02c0 .02 0 .03-.01.04v.01c-.43 3.23-2.5 6-5.39 7.36h-.01c-1.23.58-2.59.9-4.05.9-7.1 0-12.83-5.83-12.69-12.94l.11-40.55c.02-.8.65-1.45 1.45-1.5l12.81-.75h.11c.78 0 1.45.59 1.54 1.38l2.68 18.97c4.18-3.58 9.95-6.21 17.88-6.21 2.62 0 27.59.12 30.2.12 7.93 0 13.7 2.63 17.88 6.2l2.67-18.97c.1-.79.77-1.38 1.55-1.38.04 0 .07.01.11.01l12.81.75c.8.05 1.42.7 1.45 1.5z" fill="url(#m)"/><path d="m99.04 123.11c-.59-.26-1.14-.58-1.65-.97-.71-.53-1.35-1.16-1.89-1.86-1.02-1.31-1.69-2.89-1.91-4.59l-.02.01-.38-10.68s.63 9.15 5.85 18.09z" fill="#da6727"/><path d="m34.91 105.02-.38 10.59v.01c-.43 3.23-2.5 6-5.39 7.36 5.14-8.9 5.77-17.96 5.77-17.96z" fill="#da6727"/><path d="m54.92 78.33v9.98c0 4.51 3.62 8.17 9.08 8.17s9.08-3.66 9.08-8.17v-9.98z" fill="#edc391"/><path d="m86.49 43.78-49.72 6.05c-5.36.65-9.18 5.86-8.48 11.57.69 5.71 5.65 9.85 11.01 9.2l49.72-6.05c5.36-.65 9.18-5.86 8.48-11.57-.69-5.71-5.65-9.85-11.01-9.2z" fill="#edc391"/><path d="m57.28 10.99c-15.84 1.93-28.44 20.64-25.47 45.01 2.95 24.23 19.51 34.38 34.9 32.51s29.04-15.69 26.09-39.93c-2.97-24.37-19.69-39.51-35.52-37.59z" fill="#f9ddbd"/><path d="m71.05 75.72c.22 2.78-2.21 3.55-5.27 3.79s-5.58-.21-5.8-2.92c-.22-2.86 2.12-4.82 5.17-5.06 3.06-.24 5.67 1.28 5.9 4.19z" fill="#444"/><path d="m67.1 62.41c-.1-.03-.2-.04-.3-.04l-6.44.78c-.1.02-.19.06-.28.11-.56.31-.8.95-.45 1.56s1.85 2.26 4.44 1.95c2.58-.31 3.64-2.28 3.84-2.95.19-.68-.2-1.24-.81-1.41z" fill="#dba689"/><ellipse cx="47.55" cy="56.45" fill="#312d2d" rx="4.49" ry="4.65" transform="matrix(.9929 -.1193 .1193 .9929 -6.3943 6.075)"/><ellipse cx="77.32" cy="52.87" fill="#312d2d" rx="4.49" ry="4.65" transform="matrix(.9929 -.1193 .1193 .9929 -5.7549 9.6015)"/><path d="m53.17 47.35c-.98-1.02-3.15-2.42-6.96-1.97-3.81.46-5.58 2.33-6.3 3.56-.32.54-.15 1.1.15 1.42.28.29 1.03.51 1.78.15s2.2-1.34 4.78-1.67c2.58-.29 4.22.32 5.03.49.82.17 1.5-.21 1.7-.56.23-.38.26-.97-.18-1.42z" fill="#454140"/><path d="m82.95 43.77c-.98-1.02-3.15-2.42-6.96-1.97-3.81.46-5.58 2.33-6.29 3.56-.32.54-.15 1.1.15 1.42.28.29 1.03.51 1.79.15s2.2-1.34 4.78-1.67c2.58-.29 4.22.32 5.03.49.82.17 1.5-.21 1.7-.56.21-.38.23-.97-.2-1.42z" fill="#454140"/><path d="m95.41 19.32c-2.63-3.09-8.15-6.98-12.65-6.73-1.24-4.2-6.28-7.28-10.89-8.14-12.49-2.34-19.8 2.88-23.72 5.69-.82.58-6.08 4.4-10.3 2.64-2.64-1.1-3.06-4.92-3.06-4.92s-7.39 3.9-3.74 11.8c-2.65.43-6 1.98-7.4 5.95-1.66 4.72-.42 8.35.43 10.05-2.06 2.22-4.43 6.72-1.8 11.85 1.98 3.86 8.15 5 8.15 5 .47 7.33 2.38 11.65 3.32 13.38.16.3.61.22.65-.12.46-3.71 1.99-16.66 1.42-18.82 0 0 10.06-3.31 19.02-11.75 1.82-1.72 3.84-3.24 6.03-4.44 11.75-6.43 15.36 1.65 15.36 1.65s8.36-2.69 12.4 8.89c1.51 4.34 3.05 11.39 4.2 16.32.08.35.57.36.67.02.62-2.08 1.87-6.23 1.79-10.28-.03-1.43 3.55-3.76 4.44-10.01 1.21-8.37-2.42-15.8-4.32-18.03z" fill="#312d2d"/><path d="m95.28 47.37c-.03-1.43 3.55-3.76 4.44-10.01.1-.67.16-1.34.22-2.01.43-7.52-2.78-13.98-4.53-16.03-2.43-2.85-7.33-6.39-11.61-6.71-.37 0-.73 0-1.07.02 0 0 .54 1.91-.06 3.57-.77 2.14-2.79 2.88-2.79 2.88 12.21 9.55 12.54 18.75 15.4 28.29z" fill="url(#o)"/><path d="m50.61 8.44c-.94.6-1.76 1.19-2.46 1.69-.82.58-6.08 4.4-10.3 2.64-2.6-1.09-3.05-4.78-3.06-4.91-.94 1.56-3.08 12.17 6.89 11.64 4.3-.23 6.47-4.26 7.65-7.61.41-1.2 1.09-2.98 1.28-3.45z" fill="url(#p)"/><path d="m70.58 4.22c6.87.99 10.53 3.98 12.17 8.37.48 1.29 2.37 13.62-22.98 2.44-9.43-4.16-7.43-7.73-6.45-8.23 3.84-1.94 9.56-3.68 17.26-2.58z" fill="url(#q)"/><path d="m34.75 7.87c-.01.01-.03.02-.05.03-.8.46-7.08 4.35-3.65 11.75l7.22.28c-7.03-5.59-3.48-12.08-3.48-12.08s-.03.01-.04.02z" fill="url(#r)"/><path d="m35.5 19.82-4.46-.17c-.17.02-.75.15-1.06.23-2.42.64-5.17 2.27-6.34 5.72-1.26 3.71-.85 6.72-.15 8.67.21.66.58 1.38.58 1.38s1.92-2.32 7.05-3.08z" fill="url(#s)"/><path d="m23.9 35.86c-1.92 2.17-4.3 6.79-1.52 11.82 2.1 3.79 8.06 4.82 8.06 4.82 0 .02 1.19.22 1.78.15l-1.08-20.07c-2.75.34-5.3 1.48-6.86 2.88.01.03-.4.37-.38.4z" fill="url(#t)"/></svg>
  {% endif %}
{% endcapture %}

{%- style -%}

  {{ heading_font | font_face: font_display: 'swap' }}
  {{ table_heading_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .product-other-heading-{{ section.id }} {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    /* color: {{ heading_color }}; */
    /* line-height: {{ heading_height }}%; */
    text-transform: unset;
    text-align: {{ heading_align }};
    display: block;
    width: 100%;
    display: flex;
    margin-top: 50px;
  }
  .product-other-heading-{{ section.id }}>*:first-child {
    color: #0066CC !important;
  }

  .product-other-body-{{ section.id }} {
    margin-top: {{ table_mt | times: 0.75 | round: 0 }}px;
    max-width: 1200px;
    width: 100%;
  }

  .product-other-grid-{{ section.id }} {
    display: grid;
    {% if third_heading != blank %}
      grid-template-columns: 29% 24% 23.5% 23.5%;
    {% else %}
      grid-template-columns: 40% 30% 30%;
    {% endif %}
  }

  .product-other-item-{{ section.id }} {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .product-other-item-{{ section.id }}.active {
    background-color: {{ table_column_active_bg_color }};
  }

  .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }} {
    padding: {{ table_heading_padding_vertical_mobile }}px {{ table_heading_padding_horizontal_mobile }}px;
  }

  .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }}.active {
    border-top-left-radius: {{ table_column_active_radius }}px;
    border-top-right-radius: {{ table_column_active_radius }}px;
  }

  .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }} h3 {
    margin: 0;
    font-size: {{ table_heading_size_mobile }}px;
    color: {{ table_heading_color }};
    line-height: {{ table_heading_height }}%;
    text-transform: unset;
    text-align: {{ table_heading_align }};
    display: block;
    width: 100%;
    font-weight: 700;
  }

  .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }}.active h3 {
    color: {{ table_heading_active_color }};
  }

  .product-other-grid-header-{{ section.id }} + .product-other-grid-{{ section.id }} .product-other-item-{{ section.id }}:first-child {
    border-top-left-radius: {{ table_radius }}px;
  }

  .product-other-grid-header-{{ section.id }} + .product-other-grid-{{ section.id }} .product-other-item-{{ section.id }}:last-child {
    border-top-right-radius: {{ table_radius }}px;
  }

  .product-other-grid-header-{{ section.id }} + .product-other-grid-{{ section.id }} .product-other-item-{{ section.id }}.active:last-child {
    border-top-right-radius: 0px;
  }

  .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }} {
    padding: {{ table_row_padding_vertical_mobile }}px {{ table_row_padding_horizontal_mobile }}px;
    border-top: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:first-child {
    border-left: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:last-child {
    border-right: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}.active {
    position: relative;
    border-color: {{ table_column_active_bg_color }};
  }

  .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    bottom: -15px;
    background-color: {{ table_column_active_bg_color }};
    border-bottom-left-radius: {{ table_column_active_radius }}px;
    border-bottom-right-radius: {{ table_column_active_radius }}px;
  }

  .product-other-grid-rows-{{ section.id }}:last-child .product-other-item-{{ section.id }} {
    border-bottom: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .product-other-grid-rows-{{ section.id }}:last-child .product-other-item-{{ section.id }}.active {
     border-color: {{ table_column_active_bg_color }};
  }

  .product-other-grid-rows-{{ section.id }}:last-child .product-other-item-{{ section.id }}:first-child {
    border-bottom-left-radius: {{ table_radius }}px;
  }

  .product-other-grid-rows-{{ section.id }}:last-child .product-other-item-{{ section.id }}:last-child {
    border-bottom-right-radius: {{ table_radius }}px;
  }

  .product-other-grid-rows-{{ section.id }}:last-child .product-other-item-{{ section.id }}.active:last-child {
    border-bottom-right-radius: 0px;
  }
  .product-other-grid-rows-{{ section.id }}:last-child .product-other-item-{{ section.id }}.active:last-child::after {
    border-right: {{ table_border_thickness }}px solid {{ table_column_active_bg_color }};
    box-sizing: content-box;
  }

  .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:first-child h3 {
    margin: 0;
    font-size: {{ table_row_heading_size_mobile }}px;
    color: {{ table_row_heading_color }};
    line-height: {{ table_row_heading_height }}%;
    text-transform: unset;
    text-align: {{ table_row_heading_align }};
    display: block;
    width: 100%;
    font-weight: 700;
  }

  .product-other-icon-{{ section.id }} {
    width: {{ table_icon_size_mobile }}px;
    height: {{ table_icon_size_mobile }}px;
  }

  .product-other-icon-{{ section.id }}.icon-yes-{{ section.id }} svg path,
  .product-other-icon-{{ section.id }}.icon-no-{{ section.id }} svg path{
    fill: {{ table_icon_color }};
  }

  .product-other-item-{{ section.id }}.active .product-other-icon-{{ section.id }}.icon-yes-{{ section.id }} svg path,
  .product-other-item-{{ section.id }}.active .product-other-icon-{{ section.id }}.icon-no-{{ section.id }} svg path {
    fill: {{ table_icon_active_color }};
  }

  .product-other-icon-{{ section.id }} svg,
  .product-other-icon-{{ section.id }} img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  #shopify-section-template--16437836415085__comparison_table_3_HHtPMD {
    background-color: #fffcee;
  }
  @media(min-width: 350px) {
    .product-other-grid-{{ section.id }} {
      {% if third_heading != blank %}
        grid-template-columns: 38% 22% 20% 20%;
      {% else %}
        grid-template-columns: 53% 24% 23%;
      {% endif %}
    }
  }
  @media (max-width:767px) {
    .product-other-heading-{{ section.id }} {
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      font-size: 36px;
    }
    .section-{{ section.id }}-settings {
      background-image: unset !important;
      box-shadow: 3px -3px 5px #eee;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }} {
      padding: {{ table_row_padding_vertical | divided_by: 4 }}px {{ table_row_padding_horizontal | divided_by: 4 }}px; 
    }
    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:first-child h3 {
      font-size: 12px;
    }
    .product-other-body-{{ section.id }} {
      margin-top: {{ table_mt | divided_by: 2 }}px;
    }
  }
  @media(min-width: 769px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .product-other-grid-{{ section.id }} {
      {% if third_heading != blank %}
        grid-template-columns: 30% 22% 24% 24%;
      {% else %}
        grid-template-columns: 54% 23% 23%;
      {% endif %}
    }

    .product-other-heading-{{ section.id }} {
      font-size: 110px;
    }

    .product-other-body-{{ section.id }} {
      margin-top: {{ table_mt }}px;
    }

    .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }} {
      padding: {{ table_heading_padding_vertical }}px {{ table_heading_padding_horizontal }}px;
    }

    .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }} h3 {
      font-size: {{ table_heading_size }}px;
    }

    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }} {
      padding: {{ table_row_padding_vertical }}px {{ table_row_padding_horizontal }}px 
    }

    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}.active::after {
      height: 25px;
      bottom: -25px;
    }

    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:first-child h3 {
      font-size: {{ table_row_heading_size }}px;
    }

    .product-other-icon-{{ section.id }} {
      width: {{ table_icon_size }}px;
      height: {{ table_icon_size }}px;
    }
    
  }
  
  @media (min-width: 769px) and (max-width: 1300px) {
    .product-other-heading-{{ section.id }} {
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      font-size: 36px;
    }
    .section-{{ section.id }}-settings {
      background-image: unset !important;
      box-shadow: 3px -3px 5px #eee;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }} {
      padding: {{ table_row_padding_vertical | divided_by: 2 }}px {{ table_row_padding_horizontal | divided_by: 2 }}px 
    }
    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:first-child h3 {
      font-size: 20px;
    }
    .product-other-body-{{ section.id }} {
      margin-top: {{ table_mt | divided_by: 2 }}px;
    }
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    .product-other-heading-{{ section.id }} {
      font-size: 80px !important;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
      box-shadow: 5px -5px 5px #ddd;
      background-image: url("https://cdn.shopify.com/s/files/1/0012/5573/5405/files/shake-pour_1.png?v=1741294131");
      background-position: right top;
      background-repeat: no-repeat;
      background-color: {{ section.settings.background_color }};
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .product-other-heading-{{ section.id }} {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if table_heading_custom %}
  <style>
    .product-other-grid-header-{{ section.id }} .product-other-item-{{ section.id }} h3 {
      font-family: {{ table_heading_font.family }}, {{ table_heading_font.fallback_families }};
      font-weight: {{ table_heading_font.weight }};
      font-style: {{ table_heading_font.style }};
    }
  </style>
{% endif %}

{% if table_row_heading_custom %}
  <style>
    .product-other-grid-rows-{{ section.id }} .product-other-item-{{ section.id }}:first-child h3 {
      font-family: {{ table_row_heading_font.family }}, {{ table_row_heading_font.fallback_families }};
      font-weight: {{ table_row_heading_font.weight }};
      font-style: {{ table_row_heading_font.style }};
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} product-other-{{ section.id }}">
    <div class="section-{{ section.id }}-settings ">
      {% if heading != blank %}
        <div class="product-other-heading-{{ section.id }}">
          {{ heading }}
        </div>
      {% endif %}
      <div class="product-other-body-{{ section.id }}">
        <div class="product-other-grid-{{ section.id }} product-other-grid-header-{{ section.id }}">
          <div class="product-other-item-{{ section.id }}"></div>
          <div class="product-other-item-{{ section.id }} {% if table_column_active == "1" %}active{% endif %}">
            <h3>{{ first_heading }}</h3>
          </div>
          <div class="product-other-item-{{ section.id }} {% if table_column_active == "2" %}active{% endif %}">
            <h3>{{ second_heading }}</h3>
          </div>
          {% if third_heading != blank %}
            <div class="product-other-item-{{ section.id }} {% if table_column_active == "3" %}active{% endif %}">
              <h3>{{ third_heading }}</h3>
            </div>
          {% endif %}
        </div>
        {% for block in section.blocks %}
          <style>
            .product-other-grid-{{ section.id }} .icon-{{ block.settings.first_icon }}-{{ section.id }} svg {
              color: {{ section.settings.table_border_color }};
            }
            .product-other-grid-{{ section.id }} .active .icon-{{ block.settings.first_icon }}-{{ section.id }} svg {
              color: white;
            }
          </style>
          <div class="product-other-grid-{{ section.id }} product-other-grid-rows-{{ section.id }}">
            <div class="product-other-item-{{ section.id }}">
              <h3>{{ block.settings.row_heading }}</h3>
            </div>
            <div class="product-other-item-{{ section.id }} {% if table_column_active == "1" %}active{% endif %}">
              <div class="product-other-icon-{{ section.id }} icon-{{ block.settings.first_icon }}-{{ section.id }}">
                {% if block.settings.first_icon == "yes" %}
                  {% render 'icon-check' %}
                {% elsif block.settings.first_icon == "no"  %}
                  {{ icon_no }}
                {% else %}
                  {{ icon_dont_know }}
                {% endif %}
              </div>
            </div>
            <div class="product-other-item-{{ section.id }} {% if table_column_active == "2" %}active{% endif %}">
              <div class="product-other-icon-{{ section.id }} icon-{{ block.settings.second_icon }}-{{ section.id }}">
                {% if block.settings.second_icon == "yes" %}
                  {% render 'icon-check' %}
                {% elsif block.settings.second_icon == "no"  %}
                  {{ icon_no }}
                {% else %}
                  {{ icon_dont_know }}
                {% endif %}
              </div>
            </div>
            {% if third_heading != blank %}
              <div class="product-other-item-{{ section.id }} {% if table_column_active == "3" %}active{% endif %}">
                <div class="product-other-icon-{{ section.id }} icon-{{ block.settings.third_icon }}-{{ section.id }}">
                  {% if block.settings.third_icon == "yes" %}
                    {% render 'icon-check' %}
                  {% elsif block.settings.third_icon == "no"  %}
                    {{ icon_no }}
                  {% else %}
                    {{ icon_dont_know }}
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Comparison Table #3",
    "settings": [
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "assistant_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Heading Size",
        "default": 50
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 100
      },
      {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Text Align",
        "default": "left",
        "options": [
         {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Background Settings"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fffcee"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Table Settings"
      },
      {
        "type": "range",
        "id": "table_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Margin top",
        "default": 50
      },
      {
        "type": "range",
        "id": "table_radius",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Table Border Radius",
        "default": 10
      },
      {
        "type": "range",
        "id": "table_border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Table Border thickness",
        "default": 3
      },
      {
        "type": "select",
        "id": "table_column_active",
        "label": "Table Column Active",
        "default": "1",
        "options": [
         {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          }
        ]
      },
      {
        "type": "range",
        "id": "table_column_active_radius",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Table Column Active Border Radius",
        "default": 10
      },
      {
        "type": "header",
        "content": "Table Header Settings"
      },
      {
        "type": "text",
        "id": "first_heading",
        "label": "First Heading",
        "default": "First Product"
      },
      {
        "type": "text",
        "id": "second_heading",
        "label": "Second Heading",
        "default": "Second Product"
      },
      {
        "type": "text",
        "id": "third_heading",
        "label": "Third Heading",
        "default": "Third Product",
        "info": "Leave this field empty if you want to compare 2 products."
      },
      {
        "type": "checkbox",
        "id": "table_heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "table_heading_font",
        "label": "Table Heading Font Family",
        "default": "assistant_n4"
      },
      {
        "type": "range",
        "id": "table_heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Table Heading Size",
        "default": 24
      },
      {
        "type": "range",
        "id": "table_heading_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Table Heading Size - Mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "table_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Table Heading Line Height",
        "default": 100
      },
      {
        "type": "select",
        "id": "table_heading_align",
        "label": "Table Heading Text Align",
        "default": "center",
        "options": [
         {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "table_heading_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Heading Padding sides",
        "default": 20
      },
      {
        "type": "range",
        "id": "table_heading_padding_horizontal_mobile",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Table Heading Padding sides - Mobile",
        "default": 4
      },
      {
        "type": "range",
        "id": "table_heading_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Heading Padding Vertical",
        "default": 20
      },
      {
        "type": "range",
        "id": "table_heading_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Heading Padding Vertical - Mobile",
        "default": 10
      },
      {
        "type": "header",
        "content": "Table Row Settings"
      },
      {
        "type": "range",
        "id": "table_row_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Row Padding sides",
        "default": 20
      },
      {
        "type": "range",
        "id": "table_row_padding_horizontal_mobile",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Table Row Padding sides - Mobile",
        "default": 4
      },
      {
        "type": "range",
        "id": "table_row_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Row Padding Vertical",
        "default": 20
      },
      {
        "type": "range",
        "id": "table_row_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Row Padding Vertical - Mobile",
        "default": 10
      },
      {
        "type": "header",
        "content": "Table Row Heading Settings"
      },
            {
        "type": "checkbox",
        "id": "table_row_heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "table_row_heading_font",
        "label": "Table Row Heading Font Family",
        "default": "assistant_n4"
      },
      {
        "type": "range",
        "id": "table_row_heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Table Row Heading Size",
        "default": 26
      },
      {
        "type": "range",
        "id": "table_row_heading_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Table Row Heading Size - Mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "table_row_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Table Row Heading Line Height",
        "default": 100
      },
      {
        "type": "select",
        "id": "table_row_heading_align",
        "label": "Table Row Heading Text Align",
        "default": "center",
        "options": [
         {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Table Icons Settings"
      },
      {
        "type": "image_picker",
        "id": "table_icon_yes",
        "label": "Table Icon - Yes"
      },
      {
        "type": "image_picker",
        "id": "table_icon_no",
        "label": "Table Icon - No"
      },
      {
        "type": "image_picker",
        "id": "table_icon_dont_know",
        "label": "Table Icon - Dont Know"
      },
      {
        "type": "range",
        "id": "table_icon_size",
        "min": 20,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Icon Size",
        "default": 32
      },
            {
        "type": "range",
        "id": "table_icon_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Table Icon Size - Mobile",
        "default": 20
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "heading_color",
        "default": "#162471"
      },
      {
        "type": "color",
        "label": "Table Border",
        "id": "table_border_color",
        "default": "#D7D8D5"
      },
      {
        "type": "color",
        "label": "Table Heading",
        "id": "table_heading_color",
        "default": "#162471"
      },
      {
        "type": "color",
        "label": "Table Heading Active",
        "id": "table_heading_active_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Table Column Active Background",
        "id": "table_column_active_bg_color",
        "default": "#162471"
      },
      {
        "type": "color",
        "label": "Table Row Heading",
        "id": "table_row_heading_color",
        "default": "#040200"
      },
      {
        "type": "color",
        "label": "Table Icon",
        "id": "table_icon_color",
        "default": "#162471"
      },
      {
        "type": "color",
        "label": "Table Icon Active",
        "id": "table_icon_active_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width"
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 150
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "row_heading",
            "label": "Row Heading"
          },
          {
            "type": "select",
            "id": "first_icon",
            "label": "First Icon",
            "default": "yes",
            "options": [
             {
                "label": "Yes",
                "value": "yes"
              },
              {
                "label": "No",
                "value": "no"
              },
              {
                "label": "Dont Know",
                "value": "dont_know"
              }
            ]
          },
          {
            "type": "select",
            "id": "second_icon",
            "label": "Second Icon",
            "default": "yes",
            "options": [
             {
                "label": "Yes",
                "value": "yes"
              },
              {
                "label": "No",
                "value": "no"
              },
              {
                "label": "Dont Know",
                "value": "dont_know"
              }
            ]
          },
          {
            "type": "select",
            "id": "third_icon",
            "label": "Third Icon",
            "default": "yes",
            "options": [
             {
                "label": "Yes",
                "value": "yes"
              },
              {
                "label": "No",
                "value": "no"
              },
              {
                "label": "Dont Know",
                "value": "dont_know"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Comparison Table #3",
        "blocks": [
          {
            "type": "item",
            "settings": {
              "row_heading": "First Value",
              "first_icon": "yes",
              "second_icon": "yes",
              "third_icon": "yes"
            }
          },
          {
            "type": "item",
            "settings": {
              "row_heading": "Second Value",
              "first_icon": "yes",
              "second_icon": "yes",
              "third_icon": "yes"
            }
          },
          {
            "type": "item",
            "settings": {
              "row_heading": "Third Value",
              "first_icon": "yes",
              "second_icon": "yes",
              "third_icon": "no"
            }
          },
          {
            "type": "item",
            "settings": {
              "row_heading": "Four Value",
              "first_icon": "yes",
              "second_icon": "no",
              "third_icon": "no"
            }
          },
          {
            "type": "item",
            "settings": {
              "row_heading": "Five Value",
              "first_icon": "yes",
              "second_icon": "no",
              "third_icon": "no"
            }
          },
          {
            "type": "item",
            "settings": {
              "row_heading": "Six Value",
              "first_icon": "yes",
              "second_icon": "no",
              "third_icon": "no"
            }
          },
          {
            "type": "item",
            "settings": {
              "row_heading": "Seven Value",
              "first_icon": "yes",
              "second_icon": "yes",
              "third_icon": "dont_know"
            }
          }
        ]
      }
    ]
  }
{% endschema %}