{% comment %} {{'custom-ups-bar.css' | asset_url | stylesheet_tag }}  {% comment %} scss {% endcomment %} {% endcomment %}
{{'custom-ups-bar.css' | asset_url | stylesheet_tag }}  {% comment %} scss {% endcomment %}

<div data-section-type="featured-usps-bar" style="background: {{section.settings.bg_color}};">
  <div class="page-width">
    <div class="lg:grid lg:grid-cols-12">
      {% for block in section.blocks %}
        <div class="lg:col-span-4 ups-row">
          <div class="usps-box">
            <div class="usps-icon">
              {% if block.settings.image %}
                <figure>{{ block.settings.image | image_url: height: 35 | image_tag: lazy: 'loading' }}</figure>
              {% endif %}
            </div>
            <div class="usps-content">
              <h4>{{ block.settings.heading }}</h4>
              <p>{{ block.settings.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured USPS bar",
  "settings": [
    {
      "type":"color",
      "id":"bg_color",
      "label":"BG Color"
    }
  ],
  "max_blocks":3,
  "blocks":[
    {
      "type":"usps",
      "name":"USPS",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"inline_richtext",
          "id":"heading",
          "label":"Heading"
        },
        {
          "type":"inline_richtext",
          "id":"content",
          "label":"Content"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Featured USPS bar"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
