{{'custom-product-carousel.css' | asset_url | stylesheet_tag }}  {% comment %} scss {% endcomment %}
<style>
  .flavours-carousel .inner_product-video-carousel .product-video-box {
    margin-bottom: 0px;
  }
  .flavours-carousel .carousel-title {
    margin-bottom: 15px;
  }
</style>
<div class="flavours-carousel product-section product-video-carousel  product-section-padding page-width" id="watch-testimonial">
  <!-- <div class="inner_product-video-carousel" style="display: none !important"> -->
  <h2 class="m-3 carousel-title">{{ section.settings.carousel_title }}</h2>
  <div class="inner_product-video-carousel" style="opacity: 0; border-bottom: 2px solid #2998FF">
    {% for block in section.blocks %}
      <div class="product-section-box product-video-box">
        {% if request.locale.iso_code == 'fr' %}
          {% assign image_link = block.settings.fr_image | image_url: width: 600 %}
        {% else %}
          {% assign image_link = block.settings.image | image_url: width: 600 %}
        {% endif %}
        {% if image_link != blank %}
          {{image_link | image_tag: class: 'image', image_size: '400x' }}
        {% endif %}
        <div class="item-label-saturn">{{ block.settings.flavour_label }}</div>
        <div class="hidden flavour-tag-saturn">{{ block.settings.flavour_tag }}</div>
        <div class="hidden product-tag-saturn">{{ block.settings.product_tag }}</div>
       <div class="playpause c_hidden"><i class="fa-solid fa-circle-play"></i></div>
      </div>
    {% endfor %}
  </div>    
</div>

<style>
  #shopify-section-{{ section.id }} .product-video-carousel{
    background-color:{{ section.settings.bg_color }};
  }

  .v_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/*
  .v_content {
    height: 100px;
    width: 45%;
    color: #fff;
    font-size: 24px;
    line-height: 100px; 
    text-align: center;
    background-color: grey;
    margin: 5px;
    border: 1px solid lightgrey;
    display: none;
  }
*/
  #loadMore {
    width: 200px;
    color: #000;
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    text-underline-position: under;
    text-decoration: underline;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }  
  .slick-list {
    padding: 0px !important;
  }
  .item-label-saturn {
    text-transform: capitalize;
    font-size: 13px;
  }
  @media (max-width: 1440px) {
    .item-label-saturn {
      text-transform: capitalize;
      font-size: 12px;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    function slick_slider(item_show){
      $('#shopify-section-{{ section.id }} .inner_product-video-carousel').slick({
        centerMode: true,
        slidesToShow: item_show,
        autoplay: true,
        autoplaySpeed: 20000,
        swipeToSlide: true,
        arrows:true,
        prevArrow:'<button type="button" class="slick-prev"><img width="38px" height="38px" src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-left-in-circle.png?v=1741981965" /></button>',
        nextArrow:'<button type="button" class="slick-next"><img width="38px" height="38px" src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-right-in-circle.png?v=1741981965" /></button>',
        // responsive: [
        //   {
        //     breakpoint: 768,
        //     settings: 'unslick'
        //   }
        // ]
      });
      $('#shopify-section-{{ section.id }} .inner_product-video-carousel')[0].style.opacity = 1;
    }

    
    function showSlickSlider () {
      if ($(window).width() < 1440) {
        console.log("test, window width", $(window).width(), Math.floor($(window).width() / 105));
        slick_slider(Math.floor($(window).width() / 105));
      } else {
        slick_slider({{ section.settings.itme_show }});
      }
    }

    showSlickSlider();
    $(window).on('resize', function() {
      var viewportWidth = $(window).width();

      if (viewportWidth < 1440) {
        $('#shopify-section-{{ section.id }} .inner_product-video-carousel').slick('unslick');
        slick_slider(Math.floor(viewportWidth / 105));
      } else {
        $('#shopify-section-{{ section.id }} .inner_product-video-carousel').slick('unslick');
        slick_slider({{ section.settings.itme_show }});
      }
    });
  });
  
</script>
{% schema %}
{
  "name": "Carousel",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "carousel_title"
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"Bg Color"
    },
    {
      "type":"number",
      "id":"itme_show",
      "label":"Show Per Item",
      "default":6
    }
  ],
  "blocks":[
    {
      "type":"image",
      "name":"Image",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type": "text",
          "id": "flavour_label",
          "label": "flavour label"
        },
        {
          "type": "text",
          "id": "flavour_tag",
          "label": "Tag"
        },
        {
          "type": "text",
          "id": "product_tag",
          "label": "Product Tag"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Flavour Carousel",
      "category":"product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
