{%- style -%}
  .section-{{ section.id }}-padding {
    max-width: {{section.settings.section-width}}rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding: 0 5rem;
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  .easy-setup {
    color: var(--text-color);
  }
  .easy-setup div {
    box-sizing: border-box;
  }
  .easy-setup p {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 750px) {
    .easy-setup .swiper-arrow-icon-wrapper {
      display: none;
    }
  }
  .swiper-arrow-icon-wrapper {
    display: flex;
    gap: 1rem;
  }
  @media screen and (min-width: 750px) {
    .swiper-arrow-icon-wrapper {
      gap: 1.5rem;
    }
  }
  .swiper-arrow-icon {
    color: var(--text-color);
    display: inline-block;
    width: 70px;
    height: 70px;
    position: unset;
    margin-top: unset;
    margin-bottom: 43px;
  }
  .swiper-arrow-icon--left {
    transform: rotate(180deg);
  }
  @media screen and (min-width: 750px) {
    .swiper-arrow-icon {
      width: 97px;
      height: 97px;
      margin-bottom: 60px;
    }
  }
  .easy-setup-title {
    font-size: calc(var(--title-font-size) * 0.5);
    font-weight: 800;
    line-height: 107%;
    letter-spacing: 0.04em;
    margin-bottom: 1rem;
    color: var(--title-color);
  }
  @media screen and (min-width: 750px) {
    .easy-setup-title {
      font-size: calc(var(--title-font-size) * 0.75);
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  @media screen and (min-width: 750px) {
    .easy-setup-title {
      font-size: var(--title-font-size);
      margin-bottom: 2.5rem;
    }
  }
  /* .ss-custom-card will be reused on other sections */
  .ss-custom-card {
    border: 1px solid var(--text-color);
    border-radius: 29px;
    background: var(--card-background-color, #fef9f3);
    padding: 20px;
    height: auto;
    width: 100%;
  }
  @media screen and (min-width: 750px) {
    .ss-custom-card {
      padding: 23px 27px;
    }
  }
  .ss-custom-card__title {
    font-weight: 800;
    font-size: var(--product-card-title-font-size, 24px);
    margin-bottom: 5px;
    text-align: center;
  }
  .ss-custom-card__desc {
    font-weight: 500;
    font-size: var(--product-card-description-font-size, 20px);
    margin-bottom: 13px;
  }
  .ss-custom-card__link {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-weight: 800;
    background: var(--link-background-color, #fbf4fe);
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    text-decoration: none;
  }
  @media screen and (min-width: 750px) {
    .ss-custom-card__link {
      height: 60px;
    }
  }
  .ss-custom-card__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 1px solid var(--text-color);
    border-radius: 26px;
  }
  .ss-custom-card__index {
    border: 1px solid var(--text-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    background: var(--second-card-background-color, #f9f9f9);
    font-weight: 500;
    font-size: 28px;
  }
</style>
<style>
  .ss-custom-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 277px;
    margin: 0 auto;
    background: var(--second-card-background-color);
    border-radius: 45px;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    margin-top: 45px;
    text-decoration: none;
  }
</style>

<div
  class="easy-setup" id="easy-setup"
  style="
    background-color:{{ section.settings.background-color }};
    --title-font-size: {{ section.settings.title_font_size }}px;
    --title-color: {{ section.settings.title_color }};
    --product-card-title-font-size: {{ section.settings.product_card_title_font_size }}px;
    --text-color:{{ section.settings.text-color }};
    --card-background-color: {{ section.settings.card-background-color }};
    --second-card-background-color: {{ section.settings.second-card-background-color }};
      overflow: hidden;
  "
>
  <div class="page-width section-{{ section.id }}-padding" >
    <div class="easy-setup-title">{{ section.settings.title }}</div>

    <div class="swiper swiper-{{ section.id }}" style="overflow:visible">
      <div class="swiper-arrow-icon-wrapper">
        <svg
          class="swiper-button-prev swiper-arrow-icon swiper-arrow-icon--left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 97 97"
          fill="none"
        >
          <circle cx="48.6602" cy="48.75" r="47.5" fill="{{ section.settings.card-background-color }}" stroke="currentColor"/>
          <path
            d="M72.9825 49.8107C73.5683 49.2249 73.5683 48.2751 72.9825 47.6893L63.4366 38.1434C62.8508 37.5576 61.9011 37.5576 61.3153 38.1434C60.7295 38.7292 60.7295 39.6789 61.3153 40.2647L69.8006 48.75L61.3153 57.2353C60.7295 57.8211 60.7295 58.7708 61.3153 59.3566C61.9011 59.9424 62.8508 59.9424 63.4366 59.3566L72.9825 49.8107ZM29.9219 50.25H71.9219V47.25H29.9219V50.25Z"
            fill="currentColor"
          />
        </svg>
        <svg
          class="swiper-button-next swiper-arrow-icon swiper-arrow-icon--right"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 97 97"
          fill="none"
        >
          <circle cx="48.6602" cy="48.75" r="47.5" fill="{{ section.settings.card-background-color }}" stroke="currentColor"/>
          <path
            d="M72.9825 49.8107C73.5683 49.2249 73.5683 48.2751 72.9825 47.6893L63.4366 38.1434C62.8508 37.5576 61.9011 37.5576 61.3153 38.1434C60.7295 38.7292 60.7295 39.6789 61.3153 40.2647L69.8006 48.75L61.3153 57.2353C60.7295 57.8211 60.7295 58.7708 61.3153 59.3566C61.9011 59.9424 62.8508 59.9424 63.4366 59.3566L72.9825 49.8107ZM29.9219 50.25H71.9219V47.25H29.9219V50.25Z"
            fill="currentColor"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide ss-custom-card">
            {% assign image = block.settings.image %}
            {% if image != blank %}
              <img
                class="ss-custom-card__image"
                src="{{ image | img_url: '400x' }}"
                srcset="
                  {{ image | img_url: '400x' }} 400w,
                  {{ image | img_url: '600x' }} 800w,
                  {{ image | img_url: '800x' }} 1200w,
                  {{ image | img_url: '1000x' }} 1600w,
                  {{ image | img_url: 'master' }} 2000w
                "
                alt="{{ image.alt }}"
              >
            {% else %}
              <div
                style="
                  display: block;
                  width: 100%;
                  aspect-ratio: 1/1;
                  border: 1px solid var(--text-color);
                  border-radius: 26px;
                  background-color: #FBF4FE;
                "
              ></div>
            {% endif %}
            <div class="ss-custom-card__index">{{ forloop.index }}</div>
            <div class="ss-custom-card__title">{{ block.settings.title }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if section.settings.url_text != blank %}
      <a class="ss-custom-cta" href="{{ section.settings.url }}">
        {{ section.settings.url_text }}
      </a>
    {% endif %}
  </div>
</div>

<script>
  // load the swiper css and js only once:
  (function () {
    const cssId = 'swiper-css';
    let existingLink = document.getElementById(cssId);
    if (!existingLink) {
      let link = document.createElement('link');
      link.href = 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css';
      link.rel = 'stylesheet';
      link.id = cssId;
      let head = document.getElementsByTagName('head')[0];
      head.appendChild(link);
    }
    const jsId = 'swiper-js';
    let existingScript = document.getElementById(jsId);
    if (!existingScript) {
      let script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js';
      script.id = jsId;
      script.defer = true;
      // fire a custom event when the script is loaded:
      script.onload = function () {
        let event = new Event('swiper:loaded');
        document.dispatchEvent(event);
      };
      let head = document.getElementsByTagName('head')[0];
      head.appendChild(script);
    }

    function loadSwiper() {
      try {
        new Swiper('.swiper-{{ section.id }}', {
          slidesPerView: 1.2,
          spaceBetween: 22,
          navigation: {
            nextEl: '.swiper-arrow-icon--right',
            prevEl: '.swiper-arrow-icon--left',
          },
          breakpoints: {
            750: {
              slidesPerView: 3,
              spaceBetween: 32,
            },
            //1440: {
            //  slidesPerView: 3.8,
            //  spaceBetween: 32,
            //},
          },
        });
      } catch (e) {
        console.log('Swiper not loaded');
        console.log(e);
      }
    }
    document.addEventListener('swiper:loaded', loadSwiper);
    if (window.Shopify && Shopify.designMode) {
      document.addEventListener('shopify:section:load', loadSwiper);
    }
  })();
</script>

{% schema %}
{
  "name": "SS - Easy Setup Slider",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "EASY SET UP IN 3 STEPS"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "label": "Title color",
      "id": "title_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Text color",
      "id": "text-color",
      "default": "#432A54"
    },
    {
      "type": "color",
      "label": "Card background color",
      "id": "card-background-color",
      "default": "#fef9f3"
    },
    {
      "type": "color",
      "label": "Card second background color",
      "id": "second-card-background-color",
      "default": "#fbf4fe"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Title font size",
      "default": 48
    },
    {
      "type": "range",
      "id": "product_card_title_font_size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Product Card Title font size",
      "default": 24
    },
    {
      "type": "header",
      "content": "URL"
    },
    {
      "type": "text",
      "id": "url",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "url_text",
      "label": "URL Text",
      "default": "SHOP NOW"
    },
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "label": "Section background color",
      "id": "background-color",
      "default": "#BB8FC1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 100
    },
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "range",
      "id": "section-width",
      "min": 80,
      "max": 200,
      "step": 5,
      "unit": "rem",
      "label": "Section width",
      "default": 120
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<p>Download juice.exe</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - BonBon Steps",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card",
          "settings": {
            "title": "<p>Unzip that stuff</p>"
          }
        },
        {
          "type": "card",
          "settings": {
            "title": "<p>Enjoy the funky stuff</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
