{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign body_padding_vertical = section.settings.body_padding_vertical
  assign body_padding_vertical_mobile = section.settings.body_padding_vertical_mobile
  assign body_padding_horizontal = section.settings.body_padding_horizontal
  assign body_padding_horizontal_mobile = section.settings.body_padding_horizontal_mobile
  assign body_radius = section.settings.body_radius
  assign body_border_thickness = section.settings.body_border_thickness
  assign body_border_color = section.settings.body_border_color
  assign body_bg_color = section.settings.body_bg_color

  assign layout_gap_mobile = section.settings.layout_gap_mobile
  assign layout_gap = section.settings.layout_gap

  assign content_position = section.settings.content_position

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_align_mobile = section.settings.sub_heading_align_mobile
  assign sub_heading_mt = section.settings.sub_heading_mt

  assign button = section.settings.button
  assign button_url = section.settings.button_url
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_mt = section.settings.button_mt
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_align = section.settings.button_align
  assign button_align_mobile = section.settings.button_align_mobile
  assign button_bottom = section.settings.button_bottom

  assign slider_width_mobile = section.settings.slider_width_mobile
  assign slider_width = section.settings.slider_width
  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_position_mobile = section.settings.slider_position_mobile
  assign slider_position = section.settings.slider_position

  assign card_padding_vertical = section.settings.card_padding_vertical
  assign card_padding_vertical_mobile = section.settings.card_padding_vertical_mobile
  assign card_padding_horizontal = section.settings.card_padding_horizontal
  assign card_padding_horizontal_mobile = section.settings.card_padding_horizontal_mobile
  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_bg_color = section.settings.card_bg_color

  assign video_radius = section.settings.video_radius
  assign video_border_thickness = section.settings.video_border_thickness
  assign video_border_color = section.settings.video_border_color
  assign video_ratio = section.settings.video_ratio
  assign video_ratio_mobile = section.settings.video_ratio_mobile
  assign radius_top = section.settings.radius_top
  assign border_bottom = section.settings.border_bottom

  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_radius = section.settings.content_radius
  assign content_border_thickness = section.settings.content_border_thickness
  assign content_border_color = section.settings.content_border_color
  assign content_bg_color = section.settings.content_bg_color

  assign name_size = section.settings.name_size
  assign name_size_mobile = section.settings.name_size_mobile
  assign name_color = section.settings.name_color
  assign name_custom = section.settings.name_custom
  assign name_font = section.settings.name_font
  assign name_height = section.settings.name_height

  assign job_size = section.settings.job_size
  assign job_size_mobile = section.settings.job_size_mobile
  assign job_color = section.settings.job_color
  assign job_custom = section.settings.job_custom
  assign job_font = section.settings.job_font
  assign job_height = section.settings.job_height
  assign job_mt = section.settings.job_mt

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color
  assign dots_mt = section.settings.dots_mt

  assign action_size_mobile = section.settings.action_size_mobile
  assign action_size = section.settings.action_size
  assign action_icon_size_mobile = section.settings.action_icon_size_mobile
  assign action_icon_size = section.settings.action_icon_size
  assign action_border_thickness = section.settings.action_border_thickness
  assign action_border_color = section.settings.action_border_color
  assign action_border_hover_color = section.settings.action_border_hover_color
  assign action_bg_color = section.settings.action_bg_color
  assign action_bg_hover_color = section.settings.action_bg_hover_color
  assign action_icon_color = section.settings.action_icon_color
  assign action_icon_hover_color = section.settings.action_icon_hover_color
  assign hide_action = section.settings.hide_action
  
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  sub_heading_font | font_face: font_display: 'swap' }}
  {{  name_font | font_face: font_display: 'swap' }}
  {{  job_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .video-text-items-{{ section.id }} {
    background-color: {{ body_bg_color }};
    border: {{ body_border_thickness }}px solid {{ body_border_color }};
    border-radius: {{ body_radius }}px;
    padding: {{ body_padding_vertical_mobile }}px {{ body_padding_horizontal_mobile }}px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: {{ layout_gap_mobile }}px;
    align-items: {{ content_position }};
  }

  .video-text-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }
  
  .video-text-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .video-text-subheading-{{ section.id }} {
    margin-top: {{ sub_heading_mt | times: 0.75 | round: 0 }}px;
    text-align: {{ sub_heading_align_mobile }};
  }

  .video-text-subheading-{{ section.id }} * {
    margin: 0;
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
  }

  .video-text-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0;
    margin-top: {{ button_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical | times: 0.75 | round: 0 }}px {{ button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ button_radius }}px;
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    background-color: {{ button_bg_color }};
    transition: all 0.25s ease 0s;
    position: relative;
    font-weight: 700;
    z-index: 2;
  }

  .video-text-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    background-color: {{ button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .video-text-right-{{ section.id }} {
    position: relative;
    min-width: 0;
  }

  .video-text-slider-{{ section.id }} {
    width: 100%;
    max-width: {{ slider_width_mobile }}%;
  }

  .video-text-slider-{{ section.id }} .swiper-wrapper {
    align-items: stretch;
  }

  .video-text-slide-{{ section.id }} {
    display: flex;
    flex-direction: column;
    padding: {{ card_padding_vertical_mobile }}px {{ card_padding_horizontal_mobile }}px;
    border-radius: {{ card_radius }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    background-color: {{ card_bg_color }};
    box-sizing: border-box !important; 
    height: auto !important;
    text-decoration: none;
    overflow: hidden;
  }

  .video-text-video-{{ section.id }} {
    flex: 1 1 auto;
    border-radius: {{ video_radius }}px;
    overflow: hidden;
  }

  .video-text-video-{{ section.id }} video,
  .video-text-video-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: none;
    border: 0px;
  }

  .video-text-bottom-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
    border-radius: {{ content_radius }}px;
    border: {{ content_border_thickness }}px solid {{ content_border_color }};
    background-color: {{ content_bg_color }};
    box-sizing: border-box !important; 
  }

  .video-text-info-{{ section.id }} {
    display: flex;
    flex-direction: column;
  }

  .video-text-name-{{ section.id }} {
    margin: 0;
    font-size: {{ name_size_mobile }}px;
    color: {{ name_color }};
    line-height: {{ name_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .video-text-job-{{ section.id }} {
    margin: 0;
    margin-top: {{ job_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ job_size_mobile }}px;
    color: {{ job_color }};
    line-height: {{ job_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .video-text-btn-prev-{{ section.id }},
  .video-text-btn-next-{{ section.id }} {
    position: absolute;
    z-index: 2;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: 50%;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .video-text-btn-prev-{{ section.id }} {
    left: 0px !important
  }

  .video-text-btn-next-{{ section.id }} {
    right: 0px !important
  }

  .video-text-btn-prev-{{ section.id }} svg,
  .video-text-btn-next-{{ section.id }} svg {
    height: {{ arrow_icon_size_mobile }}px;
    width: {{ arrow_icon_size_mobile }}px;
  }

  .video-text-btn-next-{{ section.id }} svg {
    margin-left: 3px;
  }

  .video-text-btn-prev-{{ section.id }} svg {
    transform: rotate(180deg);
  }

  .video-text-btn-prev-{{ section.id }} svg path,
  .video-text-btn-next-{{ section.id }} svg path {
    fill: {{ arrow_color }};
    transition: all 0.3s ease 0s;
  }

  .video-text-btn-prev-{{ section.id }}:hover,
  .video-text-btn-next-{{ section.id }}:hover {
    transition: all 0.3s ease 0s;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
    background: {{ arrow_bg_hover_color }};
  }

  .video-text-btn-prev-{{ section.id }}:hover svg path,
  .video-text-btn-next-{{ section.id }}:hover svg path {
    fill: {{ arrow_hover_color }};
    transition: all 0.3s ease 0s;
  }

  .video-text-btn-prev-{{ section.id }}.swiper-button-disabled,
  .video-text-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.3;
  }

  .video-text-pagination-{{ section.id }} {
    position: static !important;
    margin-top: {{ dots_mt | times: 0.75 | round: 0 }}px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .video-text-pagination-{{ section.id }} .swiper-pagination-bullet {
    width: {{ dots_size_mobile }}px;
    height: {{ dots_size_mobile }}px;
    border: 2px solid {{ dots_color }};
    background-color: transparent !important;
    opacity: 0.6;
    transition: all 0.25s ease 0s;
  }

  .video-text-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: {{ dots_color }} !important;
    transition: all 0.25s ease 0s;
  }

  .video-text-action-{{ section.id }} {
    flex: 0 0 {{ action_size_mobile }}px;
    height: {{ action_size_mobile }}px;
    border: {{ action_border_thickness }}px solid {{ action_border_color }};
    border-radius: 50%;
    background: {{ action_bg_color }};
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.25s ease 0s;
  }

  .video-text-action-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    border: {{ action_border_thickness }}px solid {{ action_border_hover_color }};
    background: {{ action_bg_hover_color }};
  }

  .video-text-action-{{ section.id }} svg {
    height: {{ action_icon_size_mobile }}px;
    width: {{ action_icon_size_mobile }}px;
  }

  .video-text-action-{{ section.id }} svg path {
    fill: {{ action_icon_color }};
    transition: all 0.25s ease 0s;
  }

  video-text-action-{{ section.id }}:hover svg path {
    fill: {{ action_icon_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .video-text-action-{{ section.id }} .video-text-unmute-{{ section.id }} {
    display: none;
  }

  .video-text-action-{{ section.id }}.active .video-text-unmute-{{ section.id }} {
    display: block;
  }

  .video-text-action-{{ section.id }}.active .video-text-mute-{{ section.id }} {
    display: none;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .video-text-items-{{ section.id }} {
      padding: {{ body_padding_vertical }}px {{ body_padding_horizontal }}px;
      gap: {{ layout_gap }}px;
    }

    .video-text-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .video-text-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .video-text-subheading-{{ section.id }} {
      margin-top: {{ sub_heading_mt }}px;
      text-align: {{ sub_heading_align }};
    }

    .video-text-subheading-{{ section.id }} * {
      font-size: {{ sub_heading_size }}px;
    }

    .video-text-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .video-text-slider-{{ section.id }} {
      max-width: 100%;
    }

    .video-text-slide-{{ section.id }} {
      padding: {{ card_padding_vertical }}px {{ card_padding_horizontal }}px;
    }

    .video-text-bottom-{{ section.id }} {
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .video-text-name-{{ section.id }} {
      font-size: {{ name_size }}px;
    }
  
    .video-text-job-{{ section.id }} {
      margin-top: {{ job_mt }}px;
      font-size: {{ job_size }}px;
    }

    .video-text-btn-prev-{{ section.id }},
    .video-text-btn-next-{{ section.id }} {
      height: {{ arrow_size }}px;
      width: {{ arrow_size }}px;
    }

    .video-text-btn-prev-{{ section.id }} svg,
    .video-text-btn-next-{{ section.id }} svg {
      height: {{ arrow_icon_size }}px;
      width: {{ arrow_icon_size }}px;
    }

    .video-text-pagination-{{ section.id }} {
      margin-top: {{ dots_mt }}px;
    }

    .video-text-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px;
      height: {{ dots_size }}px;
    }

    .video-text-action-{{ section.id }} {
      flex: 0 0 {{ action_size }}px;
      height: {{ action_size }}px;
    }

    .video-text-action-{{ section.id }} svg {
      width: {{ action_icon_size }}px;
      height: {{ action_icon_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .video-text-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .video-text-subheading-{{ section.id }} * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if name_custom %}
  <style>
    .video-text-name-{{ section.id }} {
      font-family: {{ name_font.family }}, {{ name_font.fallback_families }};
      font-weight: {{ name_font.weight }};
      font-style: {{ name_font.style }};
    }
  </style>
{% endif %}

{% if job_custom %}
  <style>
    .video-text-job-{{ section.id }} {
      font-family: {{ job_font.family }}, {{ job_font.fallback_families }};
      font-weight: {{ job_font.weight }};
      font-style: {{ job_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .video-text-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if border_bottom %}
  <style>
    .video-text-video-{{ section.id }} {
      border-bottom: {{ video_border_thickness }}px solid {{ video_border_color }};
    }
  </style>
{% else %}
  <style>
    .video-text-video-{{ section.id }} {
      border: {{ video_border_thickness }}px solid {{ video_border_color }};
    }
  </style>
{% endif %}

{% if radius_top %}
  <style>
    .video-text-video-{{ section.id }},
    .video-text-video-{{ section.id }} video,
    .video-text-video-{{ section.id }} iframe {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  </style>
{% endif %}

{% if video_ratio_mobile == "portrait" %}
  <style>
    .video-text-video-{{ section.id }} {
     aspect-ratio: 9.6/11; 
    }
  </style>
{% elsif video_ratio_mobile == "landscape" %}
  <style>
    .video-text-video-{{ section.id }} {
     aspect-ratio: 12/7; 
    }
  </style>
{% elsif video_ratio_mobile == "square" %}
  <style>
    .video-text-video-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% endif %}

{% if video_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .video-text-video-{{ section.id }} {
       aspect-ratio: 9.6/11; 
      } 
    }
  </style>
{% elsif video_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .video-text-video-{{ section.id }} {
       aspect-ratio: 12/7; 
      }
    }
  </style>
{% elsif video_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .video-text-video-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-text-video-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .video-text-btn-prev-{{ section.id }},
    .video-text-btn-next-{{ section.id }} {
      display: flex;
    }
    
    .video-text-right-{{ section.id }} {
      padding: 0px {{ arrow_size_mobile | plus: 10 }}px;
    }
  </style>
{% else %}
  <style>
    .video-text-btn-prev-{{ section.id }},
    .video-text-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .video-text-btn-prev-{{ section.id }},
      .video-text-btn-next-{{ section.id }} {
        display: flex;
      }

      .video-text-right-{{ section.id }} {
        padding: 0px {{ arrow_size | plus: 10 }}px;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-text-btn-prev-{{ section.id }},
      .video-text-btn-next-{{ section.id }} {
        display: none;
      }

      .video-text-right-{{ section.id }} {
        padding: 0px;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .video-text-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .video-text-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .video-text-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-text-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% if slider_position_mobile == "first" %}
  <style>
    .video-text-left-{{ section.id }} {
      order: 2;
    }

    .video-text-right-{{ section.id }} {
      order: 1;
    }
  </style>
{% else %}
  <style>
    .video-text-left-{{ section.id }} {
      order: 1;
    }

    .video-text-right-{{ section.id }} {
      order: 2;
    }
  </style>
{% endif %}

{% if slider_position == "first" %}
  <style>
    @media(min-width: 1024px) {
      .video-text-left-{{ section.id }} {
        order: 2;
      }
  
      .video-text-right-{{ section.id }} {
        order: 1;
      }

      .video-text-items-{{ section.id }} {
        grid-template-columns: calc({{ slider_width }}% - {{ layout_gap | times: 0.5 }}px) calc((100% - {{ slider_width }}%) - {{ layout_gap | times: 0.5 }}px);
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-text-left-{{ section.id }} {
        order: 1;
      }
  
      .video-text-right-{{ section.id }} {
        order: 2;
      }

      .video-text-items-{{ section.id }} {
        grid-template-columns: calc((100% - {{ slider_width }}%) - {{ layout_gap | times: 0.5 }}px) calc({{ slider_width }}% - {{ layout_gap | times: 0.5 }}px);
      }
    }
  </style>
{% endif %}

{% if button_align_mobile == "center" %}
  <style>
   .video-text-button-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>
{% elsif button_align_mobile == "right" %}
  <style>
   .video-text-button-{{ section.id }} {
      margin-left: auto;
    } 
  </style>
{% endif %}

{% if button_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .video-text-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: auto !important;
      } 
    }
  </style>
{% elsif button_align == "right" %}
  <style>
    @media(min-width: 1024px) {
     .video-text-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
     .video-text-button-{{ section.id }} {
        margin-left: 0px !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% endif %}

{% if button_bottom %}
  <style>
    .video-text-button-top-{{ section.id }} {
      display: none !important;
    }
    
    .video-text-button-bottom-{{ section.id }} {
      display: flex !important;
    }

    @media(min-width: 1024px) {
      .video-text-button-top-{{ section.id }} {
        display: flex !important;
      }
      
      .video-text-button-bottom-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% else %}
  <style>
    .video-text-button-top-{{ section.id }} {
      display: flex !important;
    }
    
    .video-text-button-bottom-{{ section.id }} {
      display: none !important;
    }

    @media(min-width: 1024px) {
      .video-text-button-top-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} video-text-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">

      <div class="video-text-items-{{ section.id }}">
        
        <div class="video-text-left-{{ section.id }}">
          
          {% if heading != blank %}
            <div class="video-text-heading-{{ section.id }}">{{ heading }}</div>
          {% endif %}
          
          {% if sub_heading != blank %}
            <div class="video-text-subheading-{{ section.id }}">{{ sub_heading }}</div>
          {% endif %}

          {% if button != blank %}
            <a href="{{ button_url }}" class="video-text-button-{{ section.id }} {% if button_bottom %}video-text-button-top-{{ section.id }}{% endif %}">{{ button }}</a>
          {% endif %}
          
        </div>

        <div class="video-text-right-{{ section.id }}">
          <div class="video-text-slider-{{ section.id }} swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="video-text-slide-{{ section.id }} swiper-slide">
                  {% if request.locale.iso_code == 'fr' %}
                  <div class="video-text-video-{{ section.id }}">
                    {% assign video_id =  block.settings.fr_video.id | default: block.settings.fr_video_url.id %}
                      {%- if block.settings.fr_video == null and block.settings.fr_video_url != null -%}
                        
                        {% if block.settings.loop %}
                          {% assign loop = '&loop=1&playlist=' | append: video_id %}
                        {% endif %}
          
                        {% if block.settings.autoplay %}
                          {% assign autoplay = '&mute=1&autoplay=1' %}
                        {% endif %}

                        {% if block.settings.autoplay %}
                          {% assign autoplay_2 = '&autoplay=1' %}
                        {% endif %}
                        
                        {%- if block.settings.fr_video_url.type == 'youtube' -%}
                          <iframe
                            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
                            data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay_2 }}{{ loop }}"
                            data-src2 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ loop }}"
                            data-src3 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
                            class="js-youtube"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            title="Fixed Video"
                          ></iframe>
                        {%- else -%}
                          <iframe
                            src="https://player.vimeo.com/video/{{ video_id }}{{ autoplay }}{{ loop }}"
                            data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay_2 }}{{ loop }}"
                            data-src2 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ loop }}"
                            data-src3 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
                            class="js-vimeo"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            title="Fixed Video"
                          ></iframe>
                        {% endif %}
                      {% else %}

                        {% assign poster_url = block.settings.poster | image_url %}
                          
                        {{ block.settings.fr_video | video_tag:
                            autoplay: block.settings.autoplay,
                            loop: block.settings.loop,
                            controls: block.settings.controls,
                            mute: true,
                            poster: poster_url,
                            id: "vid"
                        }}
                      {% endif %}
                  </div>
                  {% else %}
                  <div class="video-text-video-{{ section.id }}">
                    {% assign video_id =  block.settings.video.id | default: block.settings.video_url.id %}
                      {%- if block.settings.video == null and block.settings.video_url != null -%}
                        
                        {% if block.settings.loop %}
                          {% assign loop = '&loop=1&playlist=' | append: video_id %}
                        {% endif %}
          
                        {% if block.settings.autoplay %}
                          {% assign autoplay = '&mute=1&autoplay=1' %}
                        {% endif %}

                        {% if block.settings.autoplay %}
                          {% assign autoplay_2 = '&autoplay=1' %}
                        {% endif %}
                        
                        {%- if block.settings.video_url.type == 'youtube' -%}
                          <iframe
                            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
                            data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay_2 }}{{ loop }}"
                            data-src2 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ loop }}"
                            data-src3 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
                            class="js-youtube"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            title="Fixed Video"
                          ></iframe>
                        {%- else -%}
                          <iframe
                            src="https://player.vimeo.com/video/{{ video_id }}{{ autoplay }}{{ loop }}"
                            data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay_2 }}{{ loop }}"
                            data-src2 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ loop }}"
                            data-src3 = "https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
                            class="js-vimeo"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            title="Fixed Video"
                          ></iframe>
                        {% endif %}
                      {% else %}

                        {% assign poster_url = block.settings.poster | image_url %}
                          
                        {{ block.settings.video | video_tag:
                            autoplay: block.settings.autoplay,
                            loop: block.settings.loop,
                            controls: block.settings.controls,
                            mute: true,
                            poster: poster_url,
                            id: "vid"
                        }}
                      {% endif %}
                  </div>
                  {% endif %}
                  
                  <div class="video-text-bottom-{{ section.id }}">
                    <div class="video-text-info-{{ section.id }}">
                      
                      {% if block.settings.name != blank %}
                        <p class="video-text-name-{{ section.id }}">{{ block.settings.name }}</p>
                      {% endif %}

                      {% if block.settings.job != blank %}
                        <p class="video-text-job-{{ section.id }}">{{ block.settings.job }}</p>
                      {% endif %}
                    </div>

                    {% unless hide_action %}
                      <div class="video-text-action-{{ section.id }}">
                        <svg class="video-text-mute-{{ section.id }}" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 1 0 C 0.75 0 0.511719 0.113281 0.3125 0.3125 C -0.0859375 0.710938 -0.0859375 1.289063 0.3125 1.6875 L 48.3125 49.6875 C 48.511719 49.886719 48.800781 50 49 50 C 49.199219 50 49.488281 49.886719 49.6875 49.6875 C 50.085938 49.289063 50.085938 48.710938 49.6875 48.3125 L 42.125 40.75 C 46.957031 36.972656 49.8125 31.207031 49.8125 24.90625 C 49.8125 17.207031 45.488281 10.3125 38.6875 6.8125 C 38.1875 6.613281 37.605469 6.6875 37.40625 7.1875 C 37.207031 7.886719 37.414063 8.488281 37.8125 8.6875 C 44.011719 11.789063 47.8125 18.101563 47.8125 25 C 47.8125 30.699219 45.171875 35.976563 40.75 39.375 L 37.5625 36.1875 C 40.859375 33.496094 42.90625 29.414063 42.90625 25 C 42.90625 19.699219 40.011719 14.8125 35.3125 12.3125 C 34.8125 12.011719 34.207031 12.1875 33.90625 12.6875 C 33.605469 13.1875 33.789063 13.800781 34.1875 14 C 38.1875 16.199219 40.8125 20.398438 40.8125 25 C 40.8125 28.828125 39.078125 32.429688 36.125 34.75 L 32.28125 30.90625 C 34.394531 29.714844 35.8125 27.507813 35.8125 25 C 35.8125 21.898438 33.6875 19.207031 30.6875 18.40625 C 30.1875 18.304688 29.601563 18.59375 29.5 19.09375 C 29.398438 19.59375 29.6875 20.210938 30.1875 20.3125 C 32.289063 20.8125 33.8125 22.707031 33.8125 24.90625 C 33.8125 26.898438 32.570313 28.707031 30.78125 29.40625 L 26.8125 25.4375 L 26.8125 6.3125 C 26.8125 4.011719 25.300781 3 24 3 C 23.101563 3 22.207031 3.386719 21.40625 4.1875 L 13.5 12.125 L 1.6875 0.3125 C 1.488281 0.113281 1.25 0 1 0 Z M 24 5 C 24.800781 5 24.8125 6.011719 24.8125 6.3125 L 24.8125 23.4375 L 14.8125 13.4375 L 22.6875 5.59375 C 23.1875 5.195313 23.601563 5 24 5 Z M 10.8125 14.6875 L 9.59375 16 L 2.8125 16 C 1.113281 16 -0.1875 17.300781 -0.1875 19 L -0.1875 31 C -0.1875 32.699219 1.113281 34 2.8125 34 L 9.59375 34 L 21.3125 45.6875 C 22.414063 46.789063 23.300781 47 24 47 C 25.699219 47 26.8125 45.511719 26.8125 43.3125 L 26.8125 30.6875 L 24.8125 28.6875 L 24.8125 43.3125 C 24.8125 44.3125 24.5 45 24 45 C 23.699219 45 23.210938 44.710938 22.8125 44.3125 L 10.09375 31.6875 C 9.992188 31.585938 9.8125 31.210938 9.8125 30.8125 L 9.8125 19.1875 C 9.8125 18.789063 9.992188 18.386719 10.09375 18.1875 L 12.1875 16.09375 Z M 2.8125 18 L 8 18 C 7.898438 18.398438 7.8125 18.886719 7.8125 19.1875 L 7.8125 30.6875 C 7.8125 31.085938 7.898438 31.601563 8 32 L 2.8125 32 C 2.210938 32 1.8125 31.601563 1.8125 31 L 1.8125 19 C 1.8125 18.398438 2.210938 18 2.8125 18 Z"/></svg>
                        <svg class="video-text-unmute-{{ section.id }}" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 24.15625 3 C 23.851563 3 23.550781 3.0625 23.25 3.15625 C 22.644531 3.347656 22.066406 3.707031 21.5625 4.21875 L 9.8125 15.96875 L 3 15.96875 C 1.332031 15.96875 -0.03125 17.332031 -0.03125 19 L -0.03125 31 C -0.03125 32.667969 1.332031 34.03125 3 34.03125 L 9.8125 34.03125 L 21.53125 45.6875 C 22.648438 46.808594 24.082031 47.300781 25.25 46.75 C 26.425781 46.195313 27 44.859375 27 43.3125 L 27 6.3125 C 27 4.8125 26.234375 3.566406 25.0625 3.15625 C 24.769531 3.054688 24.460938 3 24.15625 3 Z M 24.1875 5 C 24.289063 5 24.367188 5.007813 24.4375 5.03125 C 24.722656 5.128906 25 5.382813 25 6.3125 L 25 43.3125 C 25 44.378906 24.648438 44.855469 24.40625 44.96875 C 24.164063 45.082031 23.675781 45.09375 22.90625 44.3125 L 10.3125 31.71875 C 10.292969 31.707031 10.269531 31.695313 10.25 31.6875 C 10.324219 31.753906 10 31.121094 10 30.75 L 10 19.25 C 10 18.878906 10.335938 18.238281 10.25 18.3125 C 10.273438 18.292969 10.292969 18.273438 10.3125 18.25 L 22.96875 5.625 C 23.4375 5.152344 23.878906 5.003906 24.1875 5 Z M 38.28125 6.8125 C 37.84375 6.886719 37.507813 7.242188 37.457031 7.683594 C 37.410156 8.125 37.652344 8.546875 38.0625 8.71875 C 44.011719 11.71875 48.0625 17.871094 48.0625 25 C 48.0625 32.128906 44.011719 38.28125 38.0625 41.28125 C 37.695313 41.40625 37.4375 41.734375 37.394531 42.117188 C 37.351563 42.503906 37.535156 42.878906 37.867188 43.082031 C 38.195313 43.28125 38.613281 43.273438 38.9375 43.0625 C 45.539063 39.730469 50.0625 32.894531 50.0625 25 C 50.0625 17.105469 45.539063 10.269531 38.9375 6.9375 C 38.765625 6.839844 38.570313 6.796875 38.375 6.8125 C 38.34375 6.8125 38.3125 6.8125 38.28125 6.8125 Z M 34.71875 12.125 C 34.273438 12.179688 33.917969 12.527344 33.855469 12.972656 C 33.789063 13.414063 34.027344 13.847656 34.4375 14.03125 C 38.339844 16.136719 41 20.246094 41 25 C 41 29.738281 38.351563 33.859375 34.46875 35.96875 C 33.984375 36.234375 33.808594 36.84375 34.078125 37.328125 C 34.34375 37.8125 34.953125 37.988281 35.4375 37.71875 C 39.945313 35.269531 43 30.484375 43 25 C 43 19.5 39.9375 14.695313 35.40625 12.25 C 35.226563 12.148438 35.019531 12.105469 34.8125 12.125 C 34.78125 12.125 34.75 12.125 34.71875 12.125 Z M 3 18.03125 L 8.1875 18.03125 C 8.058594 18.414063 8 18.832031 8 19.25 L 8 30.75 C 8 31.167969 8.0625 31.582031 8.1875 31.96875 L 3 31.96875 C 2.460938 31.96875 2.03125 31.539063 2.03125 31 L 2.03125 19 C 2.03125 18.460938 2.460938 18.03125 3 18.03125 Z M 30.53125 18.40625 C 30.046875 18.464844 29.679688 18.863281 29.65625 19.351563 C 29.632813 19.835938 29.960938 20.269531 30.4375 20.375 C 32.484375 20.910156 34 22.777344 34 25 C 34 27.222656 32.484375 29.089844 30.4375 29.625 C 29.902344 29.761719 29.582031 30.308594 29.71875 30.84375 C 29.855469 31.378906 30.402344 31.699219 30.9375 31.5625 C 33.847656 30.800781 36 28.136719 36 25 C 36 21.863281 33.847656 19.199219 30.9375 18.4375 C 30.804688 18.398438 30.667969 18.390625 30.53125 18.40625 Z"/></svg>
                      </div>
                    {% endunless %}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="video-text-pagination-{{ section.id }} swiper-pagination"></div>
          </div>
          <button class="video-text-btn-prev-{{ section.id }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="307.046px" height="307.046px" viewBox="0 0 307.046 307.046" style="enable-background:new 0 0 307.046 307.046;"
               xml:space="preserve">
              <path d="M281.828,142.427L144.002,4.597c-6.129-6.129-16.07-6.129-22.199,0l-11.101,11.101c-6.133,6.133-6.133,16.076,0,22.201
                  l92.071,92.077H36.321c-8.668,0-15.701,7.035-15.701,15.701v15.699c0,8.664,7.033,15.701,15.701,15.701h166.445l-92.063,92.059
                  c-6.133,6.136-6.133,16.086,0,22.209l11.101,11.101c6.129,6.136,16.07,6.136,22.199,0l137.826-137.831
                  C287.959,158.487,287.959,148.556,281.828,142.427z"/>
            
            </svg>
          </button>
          <button class="video-text-btn-next-{{ section.id }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="307.046px" height="307.046px" viewBox="0 0 307.046 307.046" style="enable-background:new 0 0 307.046 307.046;"
               xml:space="preserve">
              <path d="M281.828,142.427L144.002,4.597c-6.129-6.129-16.07-6.129-22.199,0l-11.101,11.101c-6.133,6.133-6.133,16.076,0,22.201
                  l92.071,92.077H36.321c-8.668,0-15.701,7.035-15.701,15.701v15.699c0,8.664,7.033,15.701,15.701,15.701h166.445l-92.063,92.059
                  c-6.133,6.136-6.133,16.086,0,22.209l11.101,11.101c6.129,6.136,16.07,6.136,22.199,0l137.826-137.831
                  C287.959,158.487,287.959,148.556,281.828,142.427z"/>
            
            </svg>
          </button>

          {% if button_bottom and button != blank %}
            <a href="{{ button_url }}" class="video-text-button-{{ section.id }} video-text-button-bottom-{{ section.id }}">{{ button }}</a>
          {% endif %}
        </div>
        
      </div>
      
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8.4.7/swiper-bundle.min.js"></script>

<script>
  function initVideoWithText4() {
    const slider = new Swiper('.video-text-slider-{{ section.id }}', {
      speed: 300,
      navigation: {
        nextEl: '.video-text-btn-next-{{ section.id }}',
        prevEl: '.video-text-btn-prev-{{ section.id }}'
      },
      pagination: {
        el: '.video-text-pagination-{{ section.id }}',
        draggable: true,
        clickable: true
      },
      breakpoints: {
        320: {
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view_mobile }}
        },
        768: {
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}
        },
        1024: {
          spaceBetween: {{ slider_gap }},
          slidesPerView: {{ slider_view }}
        }
      },
      on: {
        slideChange: function () {
          const slides = this.slides;
    
          for (let i = 0; i < slides.length; i++) {
            let video = slides[i].querySelector('video');
            let frame = slides[i].querySelector('iframe');
            let btn = slides[i].querySelector('.video-text-action-{{ section.id }}');
            let src3;
            let src2;
            let src1;
            if(frame) {
              src3 = frame.getAttribute('data-src3');
              src2 = frame.getAttribute('data-src2');
              src1 = frame.getAttribute('data-src');
            }
    
            if (i === this.activeIndex) {
              if (video) {
                video.play();
              }

              if(btn) {
                if(btn.classList.contains('active')) {
                  if(frame) {
                    frame.src = src1;
                  }
                } else {
                  if(frame) {
                    frame.src = src3;
                  }
                }
              } else {
                if(frame) {
                  frame.src = src3;
                }
              }
            } else {
              if (video) {
                video.pause();
              }

              if(frame) {
                frame.src = src2;
              }
            }
          }
        },
      },
    });

    document.querySelectorAll('.video-text-slide-{{ section.id }}').forEach(el => {
      let btn = el.querySelector('.video-text-action-{{ section.id }}');
      let frame = el.querySelector('iframe');
      let src;
      if(frame) {
        src = frame.getAttribute("data-src");
      }
      let video = el.querySelector('video');
      if(btn) {
         btn.addEventListener('click', () => {
          btn.classList.toggle('active');
          if(btn.classList.contains('active')) {
            if(frame) {
              frame.src = src;
            }
            if(video) {
              video.muted = false;
              video.setAttribute("mute", "false"); 
            }
          } else {
            if(frame) {
              frame.src += "&mute=1";
            }
            if(video) {
              video.muted = true;
              video.setAttribute("mute", "true"); 
            }
          }
        }) 
      }
    })
  }

  document.addEventListener('DOMContentLoaded', initVideoWithText4);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initVideoWithText4);
     document.addEventListener('shopify:section:load', initVideoWithText4);
  }
</script>

{% schema %}
  {
    "name": "SS - Video with Text #4",
    "settings": [
      {
        "type": "header",
        "content": "Body Settings "
      },
      {
        "type": "range",
        "id": "body_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Body Padding Vertical",
        "default": 0
      },
      {
        "type": "range",
        "id": "body_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Body Padding Vertical - Mobile",
        "default": 0
      },
      {
         "type": "range",
         "id": "body_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Body Padding Horizontal",
         "default": 0
      },
      {
         "type": "range",
         "id": "body_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Body Padding Horizontal - Mobile",
         "default": 0
      },
      {
         "type": "range",
         "id": "body_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Body Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "body_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Body Border Thickness",
         "default": 0
      },
      {
        "type": "header",
        "content": "Layout Settings "
      },
      {
        "type": "range",
        "id": "layout_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Layout Gap",
        "default": 20
      },
      {
        "type": "range",
        "id": "layout_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Layout Gap - Mobile",
        "default": 20
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "select",
        "id": "content_position",
        "label": "Content Vertical Position",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h2>Don't miss out on what people are saying about us. </h2>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 50
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size - Mobile",
        "default": 36
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 130
      },
      {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Text Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_align_mobile",
        "label": "Heading Text Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Sub-heading"
      },
      {
        "type": "richtext",
        "id": "sub_heading",
        "label": "Sub-heading",
        "default": "<h3>See why creators are flocking to this way of doing it.</h3>"
      },
      {
        "type": "checkbox",
        "id": "sub_heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "sub_heading_font",
        "label": "Sub-heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Sub-heading Size",
        "default": 18
      },
      {
        "type": "range",
        "id": "sub_heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Sub-heading Size - Mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "sub_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Sub-heading Line Height",
        "default": 150
      },
      {
        "type": "select",
        "id": "sub_heading_align",
        "label": "Sub-heading Text Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "sub_heading_align_mobile",
        "label": "Sub-heading Text Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "sub_heading_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Sub-heading Margin Top",
        "default": 28
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button Text",
        "default": "Show More"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Button Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Button Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Button Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Button Line Height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical - Mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal",
         "default": 24
      },
      {
         "type": "range",
         "id": "button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal - Mobile",
         "default": 24
      },
      {
         "type": "range",
         "id": "button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Border Radius",
         "default": 8
      },
      {
         "type": "range",
         "id": "button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Button Border Thickness",
         "default": 1
      },
      {
        "type": "select",
        "id": "button_align",
        "label": "Button Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_align_mobile",
        "label": "Button Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "checkbox",
        "label": "Button Bottom - Mobile",
        "id": "button_bottom"
      },
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "range",
        "id": "slider_width",
        "min": 20,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Slider Width",
        "default": 54
      },
      {
        "type": "range",
        "id": "slider_width_mobile",
        "min": 50,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Slider Width - Mobile",
        "default": 100
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Slider Per View",
        "default": 1
      },
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 3,
        "step": 0.1,
        "label": "Slider Per View - Mobile",
        "default": 1.3
      },
      {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Slider Gap",
        "default": 8
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Slider Gap - Mobile",
        "default": 8
      },
      {
        "type": "select",
        "id": "slider_position",
        "label": "Slider Position",
        "default": "second",
        "options": [
          {
            "label": "First",
            "value": "first"
          },
          {
            "label": "Second",
            "value": "second"
          }
        ]
      },
      {
        "type": "select",
        "id": "slider_position_mobile",
        "label": "Slider Position - Mobile",
        "default": "second",
        "options": [
          {
            "label": "First",
            "value": "first"
          },
          {
            "label": "Second",
            "value": "second"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slide Settings"
      },
      {
        "type": "range",
        "id": "card_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Padding Vertical",
        "default": 0
      },
      {
        "type": "range",
        "id": "card_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Padding Vertical - Mobile",
        "default": 0
      },
      {
         "type": "range",
         "id": "card_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Padding Horizontal",
         "default": 0
      },
      {
         "type": "range",
         "id": "card_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Padding Horizontal - Mobile",
         "default": 0
      },
      {
         "type": "range",
         "id": "card_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "card_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Slide Border Thickness",
         "default": 2
      },
      {
        "type": "header",
        "content": "Slide Video Settings"
      },
      {
        "type": "range",
        "id": "video_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Video Radius",
        "default": 0
      },
      {
        "type": "range",
        "id": "video_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Video Border Thickness",
        "default": 0
      },
      {
        "type": "select",
        "id": "video_ratio",
        "label": "Video Aspect Ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "video_ratio_mobile",
        "label": "Video Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "radius_top",
        "label": "Border Radius only at Top",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Border Thickness only at Bottom",
        "default": true
      },
      {
        "type": "header",
        "content": "Slide Content Settings"
      },
      {
        "type": "range",
        "id": "content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Content Padding Vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Content Padding Vertical - Mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "content_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Content Padding Horizontal",
         "default": 20
      },
      {
         "type": "range",
         "id": "content_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Content Padding Horizontal - Mobile",
         "default": 10
      },
      {
         "type": "range",
         "id": "content_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Content Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "content_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Slide Content Border Thickness",
         "default": 0
      },
      {
        "type": "header",
        "content": "Slide Name Settings"
      },
      {
        "type": "checkbox",
        "id": "name_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "name_font",
        "label": "Slide Name Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "name_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Slide Name Size",
        "default": 18
      },
      {
        "type": "range",
        "id": "name_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Slide Name Size - Mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "name_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Slide Name Line Height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Slide Job Title Settings"
      },
      {
        "type": "checkbox",
        "id": "job_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "job_font",
        "label": "Slide Job Title Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "job_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Slide Job Title Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "job_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Slide Job Title Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "job_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Slide Job Title Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "job_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Job Title Margin Top",
        "default": 2
      },
      {
        "type": "header",
        "content": "Arrow Settings"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size",
        "default": 60
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size - Mobile",
        "default": 60
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Arrow Icon Size",
        "default": 22
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Arrow Icon Size - Mobile",
        "default": 22
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Arrow Border Thickness",
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on Mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Dots Settings"
      },
      {
        "type": "range",
        "id": "dots_size",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Dots Size",
        "default": 10
      },
      {
        "type": "range",
        "id": "dots_size_mobile",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Dots Size - Mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "dots_mt",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Dots Margin Top",
        "default": 20
      },
      {
        "type": "checkbox",
        "id": "dots_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "dots_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Action Settings"
      },
      {
        "type": "range",
        "id": "action_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Action Size",
        "default": 60
      },
      {
        "type": "range",
        "id": "action_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Action Size - Mobile",
        "default": 40
      },
      {
        "type": "range",
        "id": "action_icon_size",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Action Icon Size",
        "default": 26
      },
      {
        "type": "range",
        "id": "action_icon_size_mobile",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Action Icon Size - Mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "action_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Action Border Thickness",
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "hide_action",
        "label": "Hide Action"
      },
      {
        "type": "header",
        "content": "Button Colors"
      },
      {
        "type": "color",
        "label": "Button Color",
        "id": "button_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Hover Color",
        "id": "button_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Background Color",
        "id": "button_bg_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Background Hover Color",
        "id": "button_bg_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Border Color",
        "id": "button_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Border Hover Color",
        "id": "button_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Slide Colors"
      },
      {
        "type": "color",
        "label": "Slide Background Color",
        "id": "card_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Slide Border Color",
        "id": "card_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Slide Video Border Color",
        "id": "video_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Slide Content Background Color",
        "id": "content_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Slide Content Border Color",
        "id": "content_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Slide Name Color",
        "id": "name_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Slide Job Title Color",
        "id": "job_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Action Colors"
      },
      {
        "type": "color",
        "label": "Action Background Color",
        "id": "action_bg_color",
        "default": "#F58E84"
      },
      {
        "type": "color",
        "label": "Action Background Hover Color",
        "id": "action_bg_hover_color",
        "default": "#F58E84"
      },
      {
        "type": "color",
        "label": "Action Border Color",
        "id": "action_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Action Border Hover Color",
        "id": "action_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Action Icon Color",
        "id": "action_icon_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Action Icon Hover Color",
        "id": "action_icon_hover_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Navigation Colors"
      },
      {
        "type": "color",
        "label": "Arrow color",
        "id": "arrow_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Hover color",
        "id": "arrow_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Background color",
        "id": "arrow_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Arrow Background Hover color",
        "id": "arrow_bg_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Arrow Border color",
        "id": "arrow_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Border Hover color",
        "id": "arrow_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Dots Color",
        "id": "dots_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Body Background Color",
        "id": "body_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Body Border Color",
        "id": "body_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Heading Color",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Sub-Heading Color",
        "id": "sub_heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 72
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 72
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 5,
        "unit": "rem",
        "label": "Section content width",
        "default": 130
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "header",
            "content": "EN video"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video from Shopify"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video Embed from Url",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Shows when no Shopify-hosted video is selected."
          },
          {
            "type": "header",
            "content": "FR video"
          },
          {
            "type": "video",
            "id": "fr_video",
            "label": "Video from Shopify"
          },
          {
            "type": "video_url",
            "id": "fr_video_url",
            "label": "Video Embed from Url",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Shows when no Shopify-hosted video is selected."
          },
          {
            "type": "image_picker",
            "id": "poster",
            "label": "Thumbnail image for Shopify-hosted video",
            "info":"Use when autoplay is turned off to remove blurry image"
          },
          {
            "type": "checkbox",
            "id": "controls",
            "label": "Show Controls on Video",
            "info": "Only for Shopify-hosted video",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay Video",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop Video",
            "default": true
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Toby Lütke"
          },
          {
            "type": "text",
            "id": "job",
            "label": "Job Title",
            "default": "Founder of Shopify"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Video with Text #4",
        "blocks": [
          {
            "type": "video"
          },
          {
            "type": "video",
            "settings": {
              "name": "Harley Finkelstein",
              "job": "President Shopify"
            }
          }
        ]
      }
    ]
  }
{% endschema %}