{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign grid_gap_mobile = section.settings.grid_gap_mobile
  assign grid_gap = section.settings.grid_gap

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign items_gap_mobile = section.settings.items_gap_mobile
  assign items_gap = section.settings.items_gap
  assign items_row = section.settings.items_row
  assign items_row_mobile = section.settings.items_row_mobile
  assign items_mt = section.settings.items_mt

  assign icon_padding_horizontal_mobile = section.settings.icon_padding_horizontal_mobile
  assign icon_padding_horizontal = section.settings.icon_padding_horizontal
  assign icon_padding_vertical_mobile = section.settings.icon_padding_vertical_mobile
  assign icon_padding_vertical = section.settings.icon_padding_vertical
  assign icon_radius = section.settings.icon_radius
  assign icon_border_thickness = section.settings.icon_border_thickness
  assign icon_border_color = section.settings.icon_border_color
  assign icon_size = section.settings.icon_size
  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_bg_color = section.settings.icon_bg_color
  assign icon_align_mobile = section.settings.icon_align_mobile
  assign icon_align = section.settings.icon_align
  assign icon_row = section.settings.icon_row
  assign icon_row_mobile = section.settings.icon_row_mobile
  assign hide_icon = section.settings.hide_icon

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height
  assign title_align = section.settings.title_align
  assign title_align_mobile = section.settings.title_align_mobile
  assign title_mt = section.settings.title_mt

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile
  assign text_mt = section.settings.text_mt

  assign image = section.settings.image
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_radius = section.settings.image_radius
  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile
  assign image_position = section.settings.image_position
  assign image_column_position_mobile = section.settings.image_column_position_mobile
  assign image_column_position = section.settings.image_column_position
  assign image_row_position = section.settings.image_row_position
  assign hide_image = section.settings.hide_image
  
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .features-grid-{{ section.id }} {
    display: flex;
    flex-direction: {{ image_column_position_mobile }};
    align-items: start;
    gap: {{ grid_gap_mobile }}px;
  }

  .features-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .features-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .features-items-{{ section.id }} {
    margin-top: {{ items_mt | times: 0.75 | round: 0 }}px;
    display: grid;
    grid-template-columns: repeat({{ items_row_mobile }}, 1fr);
    gap: {{ items_gap_mobile }}px;
  }

  .features-icon-{{ section.id }} {
    max-width: fit-content;
    height: fit-content;
    padding: {{ icon_padding_vertical_mobile }}px {{ icon_padding_horizontal_mobile }}px;
    border-radius: {{ icon_radius }}%;
    border: {{ icon_border_thickness }}px solid {{ icon_border_color }};
    background-color: {{ icon_bg_color }};
  }

  .features-icon-{{ section.id }} img,
  .features-icon-{{ section.id }} svg {
    display: block;
    width: {{ icon_size_mobile }}px;
    height: {{ icon_size_mobile }}px;
  }

  .features-title-{{ section.id }} {
    margin-top: {{ title_mt | times: 0.75 | round: 0 }}px;
    text-align: {{ title_align_mobile }};
  }

  .features-title-{{ section.id }} * {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
  }

  .features-text-{{ section.id }} {
    margin-top: {{ text_mt | times: 0.75 | round: 0 }}px;
    text-align: {{ text_align_mobile }};
  }

  .features-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .features-image-{{ section.id }} {
    width: 100%;
    margin: 0px auto;
    max-width: {{ image_width_mobile }};
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    overflow: hidden;
  }

  .features-image-{{ section.id }} img,
  .features-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .features-image-{{ section.id }} svg {
    background-color: #DDDDDD;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .features-grid-{{ section.id }} {
      gap: {{ grid_gap }}px;
      flex-direction: {{ image_column_position }};
    }

    .features-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .features-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .features-items-{{ section.id }} {
      margin-top: {{ items_mt }}px;
      grid-template-columns: repeat({{ items_row }}, 1fr);
      gap: {{ items_gap }}px;
    }

    .features-icon-{{ section.id }} {
      padding: {{ icon_padding_vertical }}px {{ icon_padding_horizontal }}px;
    }
  
    .features-icon-{{ section.id }} img,
    .features-icon-{{ section.id }} svg {
      width: {{ icon_size }}px;
      height: {{ icon_size }}px;
    }

    .features-title-{{ section.id }} {
      margin-top: {{ title_mt }}px;
      text-align: {{ title_align }};
    }

    .features-title-{{ section.id }} * {
      font-size: {{ title_size }}px;
    }

    .features-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }

    .features-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .features-image-{{ section.id }} {
      max-width: {{ image_width }}%;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if hide_image == false and image_position == "row" %}
  <style>
    @media(min-width: 1024px) {
       .features-grid-{{ section.id }} {
        flex-direction: {{ image_row_position }};
       }
      .features-content-{{ section.id }} {
        flex: 0 1 {{ 100 | minus: image_width }}%;
      }
      .features-image-{{ section.id }} {
        flex: 0 0 {{ image_width }}%;
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .features-image-{{ section.id }} {
     aspect-ratio: 9.6/13; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .features-image-{{ section.id }} {
     aspect-ratio: 12/7; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .features-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .features-image-{{ section.id }} {
       aspect-ratio: 9.6/13; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .features-image-{{ section.id }} {
       aspect-ratio: 12/7; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .features-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .features-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .features-title-{{ section.id }} * {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .features-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if icon_align_mobile == "center" %}
  <style>
    .features-icon-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif icon_align_mobile == "right" %}
  <style>
    .features-icon-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if icon_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .features-icon-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
    }
  </style>
{% elsif icon_align == "right" %}
  <style>
    @media(min-width: 1024px) {
      .features-icon-{{ section.id }} {
        margin-left: auto;
        margin-right: 0px;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .features-icon-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
{% endif %}

{% if icon_row_mobile %}
  <style>
    .features-item-{{ section.id }} {
      display: flex;
      gap: 12px;
    }
  </style>
{% endif %}

{% if icon_row%}
  <style>
    @media(min-width: 1024px) {
      .features-item-{{ section.id }} {
        display: flex;
        gap: 12px;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .features-item-{{ section.id }} {
        display: block;
      }
    }
  </style>
{% endif %}

{% capture svg_example_1 %}
 <svg class='icon icon--medium icon--type-truck' stroke-width='1' aria-hidden='true' focusable='false' role='presentation' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M15.64 6.92L9.5 5.12V4a.5.5 0 00-.5-.5H1a.5.5 0 00-.5.5v8.5c0 .28.22.5.5.5h1.27a2.1 2.1 0 004.06 0h3.94a2.1 2.1 0 004.06 0h1.17a.5.5 0 00.5-.5V7.4a.5.5 0 00-.36-.48zM4.3 13.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM6.33 12a2.1 2.1 0 00-4.06 0H1.5V4.5h7V12H6.33zm5.97 1.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM15 12h-.67a2.1 2.1 0 00-4.06 0H9.5V6.17l5.5 1.6V12z'></path></svg>
{% endcapture %}
{% capture svg_example_2 %}
  <svg class='icon icon--medium icon--type-price_tag' stroke-width='1' aria-hidden='true' focusable='false' role='presentation' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M7.59 1.34a1 1 0 01.7-.29h5.66a1 1 0 011 1v5.66a1 1 0 01-.3.7L7.6 15.5a1 1 0 01-1.42 0L.52 9.83a1 1 0 010-1.42l7.07-7.07zm6.36 6.37l-7.07 7.07-5.66-5.66L8.3 2.05h5.66v5.66z' fill-rule='evenodd'></path><path d='M9.7 6.3a1 1 0 101.42-1.42 1 1 0 00-1.41 1.41zM9 7a2 2 0 102.83-2.83A2 2 0 009 7z' fill-rule='evenodd'></path></svg>
{% endcapture %}
{% capture svg_example_3 %}
  <svg class='icon icon--medium icon--type-return' stroke-width='1' aria-hidden='true' focusable='false' role='presentation' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M9 .5a.5.5 0 000 1h1a4.5 4.5 0 110 9H2.2l3.15-3.15a.5.5 0 10-.7-.7l-4 4a.5.5 0 000 .7l4 4a.5.5 0 00.7-.7L2.21 11.5H10a5.5 5.5 0 100-11H9z'></path></svg>
{% endcapture %}
{% capture svg_example_4 %}
  <svg class='icon icon--medium icon--type-star' stroke-width='1' aria-hidden='true' focusable='false' role='presentation' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z'></path></svg>
{% endcapture %}

<div class="section-{{ section.id }} features-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="features-grid-{{ section.id }}">

        <div class="features-content-{{ section.id }}">

          {% if heading != blank %}
            <div class="features-heading-{{ section.id }}">{{ heading }}</div>
          {% endif %}

          <div class="features-items-{{ section.id }}">
            {% for block in section.blocks %}
              <div class="features-item-{{ section.id }}">
                {% unless hide_icon %}
                  <div class="features-icon-{{ section.id }}">
                    {% if block.settings.icon != blank %}
                      <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.icon.alt }}" {% if lazy %}lazy="loading"{% endif %}>
                    {% else %}
                      {% case forloop.index %}
                        {% when 1 %}
                          {{ svg_example_1 }}
                        {% when 2 %}
                          {{ svg_example_2 }}
                        {% when 3 %}
                          {{ svg_example_3 }}
                        {% when 4 %}
                          {{ svg_example_4 }}
                        {% else %}
                          {{ svg_example_1 }}
                        {% endcase %}
                    {% endif %}
                  </div>
                {% endunless %}
                <div class="features-item-content-{{ section.id }}">
                  {% if block.settings.title != blank %}
                    <div class="features-title-{{ section.id }}">{{ block.settings.title }}</div>
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <div class="features-text-{{ section.id }}">{{ block.settings.text }}</div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
          
        </div>

        {% unless hide_image %}
          <div class="features-image-{{ section.id }}">
            {% if image != blank %}
              <img src="{{ image | image_url }}" alt="{{ image.alt }}" {% if lazy %}lazy="loading"{% endif %}>
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
        {% endunless %}
        
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SS - Feature #9",
    "settings": [
      {
        "type": "header",
        "content": "Features Grid"
      },
      {
        "type": "range",
        "id": "grid_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Grid Gap",
        "default": 48
      },
      {
        "type": "range",
        "id": "grid_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Grid Gap - Mobile",
        "default": 40
      },
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h2>Benefits of daily use</h2>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 56
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size - Mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 110
      },
      {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Text Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_align_mobile",
        "label": "Heading Text Align - Mobile",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Features Items"
      },
      {
        "type": "range",
        "id": "items_row",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Items per Row",
        "default": 2
      },
      {
        "type": "range",
        "id": "items_row_mobile",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Items per Row - Mobile",
        "default": 1
      },
      {
        "type": "range",
        "id": "items_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Items Gap",
        "default": 50
      },
      {
        "type": "range",
        "id": "items_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Items Gap - Mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "items_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Items Margin Top",
        "default": 48
      },
      {
        "type": "header",
        "content": "Features Item Icon"
      },
      {
        "type": "range",
        "id": "icon_size",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Icon Size",
        "default": 40
      },
      {
        "type": "range",
        "id": "icon_size_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Icon Size - Mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "icon_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Icon Padding Vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "icon_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Icon Padding Vertical - Mobile",
        "default": 12
      },
      {
         "type": "range",
         "id": "icon_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Icon Padding Horizontal",
         "default": 16
      },
      {
         "type": "range",
         "id": "icon_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Icon Padding Horizontal - Mobile",
         "default": 12
      },
      {
         "type": "range",
         "id": "icon_radius",
         "min": 0,
         "max": 100,
         "step": 1,
         "unit": "%",
         "label": "Icon Border Radius",
         "default": 50
      },
      {
         "type": "range",
         "id": "icon_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Icon Border Thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "icon_align",
        "label": "Icon Align",
        "info": "If not selected 'Icon in Row - Desktop'",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "icon_align_mobile",
        "label": "Icon Align - Mobile",
        "default": "left",
        "info": "If not selected 'Icon in Row - Mobile'",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "icon_row",
        "label": "Icon in Row - Desktop",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "icon_row_mobile",
        "label": "Icon in Row - Mobile",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "hide_icon",
        "label": "Hide Icon"
      },
      {
        "type": "header",
        "content": "Features Item Title"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Features Item Title Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Features Item Title Size",
        "default": 20
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Features Item Title Size - Mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Features Item Title Line Height",
        "default": 130
      },
      {
        "type": "select",
        "id": "title_align",
        "label": "Features Item Title Text Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "title_align_mobile",
        "label": "Features Item Title Text Align - Mobile",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "title_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Features Item Title Margin Top",
        "default": 16
      },
      {
        "type": "header",
        "content": "Features Item Text"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Features Item Text Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Features Item Text Size",
        "default": 18
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Features Item Text Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Features Item Text Line Height",
        "default": 150
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Features Item Text Text Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Features Item Text Text Align - Mobile",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Features Item Text Margin Top",
        "default": 16
      },
      {
        "type": "header",
        "content": "Features Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Image Width",
        "default": 40
      },
      {
        "type": "range",
        "id": "image_width_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Image Width - Mobile",
        "default": 100
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image Position - Desktop",
        "default": "row",
        "options": [
          {
            "label": "In Row",
            "value": "row"
          },
          {
            "label": "In Column",
            "value": "column"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_row_position",
        "label": "Image Row Position",
        "default": "row",
        "options": [
          {
            "label": "First",
            "value": "row-reverse"
          },
          {
            "label": "Second",
            "value": "row"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_column_position",
        "label": "Image Column Position",
        "default": "column",
        "options": [
          {
            "label": "First",
            "value": "column-reverse"
          },
          {
            "label": "Second",
            "value": "column"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_column_position_mobile",
        "label": "Image Column Position - Mobile",
        "default": "column",
        "options": [
          {
            "label": "First",
            "value": "column-reverse"
          },
          {
            "label": "Second",
            "value": "column"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "portrait",
        "options": [
          {
            "label": "Original",
            "value": "original"
          },
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Original",
            "value": "original"
          },
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          }
        ]
      },
      {
         "type": "range",
         "id": "image_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Image Border Thickness",
         "default": 0
      },
      {
         "type": "range",
         "id": "image_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Image Border Radius",
         "default": 6
      },
      {
        "type": "checkbox",
        "id": "hide_image",
        "label": "Hide Image"
      },
      {
        "type": "header",
        "content": "Features Item Colors"
      },
      {
        "type": "color",
        "label": "Icon Background Color",
        "id": "icon_bg_color",
        "default": "#F3F1F0"
      },
      {
        "type": "color",
        "label": "Icon Border Color",
        "id": "icon_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Title Color",
        "id": "title_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Text Color",
        "id": "text_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Heading Color",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Image Border Color",
        "id": "image_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 140
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<h4>Feature Title</h4>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Feature Text</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Feature #9",
        "blocks": [
          {
            "type": "feature",
            "settings": {
              "title": "<h4>Wellbeing & Foundational Health</h4>",
              "text": "<p>VitaWell supports key health areas every day: mental fitness, bones, heart, skin, hair, nails & hormones.</p>"
            }
          },
          {
            "type": "feature",
            "settings": {
              "title": "<h4>Immune System</h4>",
              "text": "<p>Copper, folate, selenium, zinc and vitamins A, B12, B6, and C contribute to normal function of the immune system</p>"
            }
          },
          {
            "type": "feature",
            "settings": {
              "title": "<h4>Energy Metabolism</h4>",
              "text": "<p>Copper, biotin, niacin, pantothenic acid, thiamine and vitamins B2 (riboflavin), B12, B6 and C contribute to normal energy-yielding metabolism.</p>"
            }
          },
          {
            "type": "feature",
            "settings": {
              "title": "<h4>Muscle Recovery</h4>",
              "text": "<p>Copper, selenium and zinc and vitamins B2 (riboflavin) and C contribute to the protection of cells from oxidative stress.</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}